[Desktop Entry]
Name=Transmission Qt
GenericName=BitTorrent Client
GenericName[ar]=عميل «بت تورنت»
GenericName[ast]=Cliente BitTorrent
GenericName[be@latin]=Klijent BitTorrent
GenericName[bg]=BitTorrent клиент
GenericName[ca]=Client de BitTorrent
GenericName[cs]=BitTorrent klient
GenericName[da]=BitTorrent klient
GenericName[de]=BitTorrent-Client
GenericName[el]=Πρόγραμμα πελάτης για τo πρωτόκολλο BitTorrent
GenericName[en_AU]=BitTorrent Client
GenericName[eo]=BitTorrent-Kliento
GenericName[es]=Cliente BitTorrent
GenericName[et]=BitTorrenti klient
GenericName[fi]=BitTorrent-asiakas
GenericName[fr]=Client BitTorrent
GenericName[gl]=Cliente BitTorrent
GenericName[he]=תוכנת ביטורנט
GenericName[hu]=BitTorrent kliens
GenericName[id]=Aplikasi BitTorrent
GenericName[it]=Client BitTorrent
GenericName[ja]=BitTorrent クライアント
GenericName[ku]=Daxwazkera BitTorrent
GenericName[li]=BitTorrent-client
GenericName[lt]=BitTorrent klientas
GenericName[lv]=BitTorrent klients
GenericName[mk]=Клиент за BitTorrent
GenericName[nb]=BitTorrent-klient
GenericName[nl]=BitTorrent-client
GenericName[nn]=BitTorrent-klient
GenericName[pl]=Klient BitTorrent
GenericName[pt_BR]=Cliente BitTorrent
GenericName[ro]=Client BitTorrent
GenericName[ru]=Клиент BitTorrent
GenericName[sk]=BitTorrent klient
GenericName[sl]=BitTorrent odjemalec
GenericName[sr]=Торент клијент
GenericName[sv]=BitTorrent-klient
GenericName[tr]=BitTorrent İstemcisi
GenericName[uk]=BitTorrent Client
GenericName[vi]=Trình khách BitTorrent
GenericName[zh_CN]=BitTorrent 客户端
GenericName[zh_TW]=BitTorrent 用戶端
Comment=Download and share files over BitTorrent
Comment[ar]=نزّل وشارك ملفات عبر «بت تورنت»
Comment[ast]=Baxar y compartir ficheros mediante BitTorrent
Comment[be@latin]=Ściahvaj i rassyłaj fajły praz BitTorrent
Comment[bg]=Изтегляне и споделяне на файлове чрез BitTorrent
Comment[ca]=Baixeu i compartiu fitxers mitjançant el BitTorrent
Comment[cs]=Stahovat a sdílet soubory přes BitTorrent
Comment[da]=Download og del filer via BitTorrent
Comment[de]=Dateien über BitTorrent herunterladen und tauschen
Comment[el]=Λήψη και διαμοιρασμός των αρχείων μέσω του BitTorrent
Comment[en_AU]=Download and share files over BitTorrent
Comment[eo]=Elŝuti kaj kunhavigi dosierojn per BitTorrent
Comment[es]=Descargar y compartir archivos mediante BitTorrent
Comment[et]=Laadi alla ja levita faile BitTorrenti kaudu
Comment[fi]=Lataa ja jaa tiedostoja BitTorrentin avulla
Comment[fr]=Reçoit et partage des fichiers via BitTorrent
Comment[gl]=Baixe e comparta ficheiros a través da rede BitTorrent
Comment[he]=הורדה ושיתוף קבצים ברשת ביטורנט
Comment[hu]=Fájlok letöltése és megosztása BitTorrenten keresztül
Comment[id]=Unduh dan berbagi berkas melalui BitTorrent
Comment[it]=Scarica e condivide i file via BitTorrent
Comment[ja]=BitTorrent越しにファイルをダウンロード・共有しています
Comment[li]=Bestanje binnehoalen en deilen via BitTorrent
Comment[lt]=Atsiųskite ir dalinkitės failais internetu per BitTorrent
Comment[mk]=Преземете и споделувајте датотеки преку BitTorrent
Comment[nb]=Last ned og del filer med BitTorrent
Comment[nl]=Bestanden downloaden en delen via BitTorrent
Comment[nn]=Last ned og del filer over BitTorrent
Comment[pl]=Pobieraj i udostępniaj pliki poprzez BitTorrent
Comment[pt_BR]=Baixar e compartilhar arquivos sobre BitTorrent
Comment[ro]=Descarcă și împarte fișiere prin BitTorrent
Comment[ru]=Скачивайте и обменивайтесь файлами в сети BitTorrent
Comment[sk]=Stiahni a zdieľaj súbory cez BitTorrent
Comment[sl]=Prenašaj in deli datoteke preko BitTorrent
Comment[sr]=Програм за дељење података преко торент протокола
Comment[sv]=Hämta och dela ut filer över BitTorrent
Comment[tr]=Dosyaları bittorrent üzerinden  indir ve paylaş
Comment[uk]=Завантажуйте та діліться файлами через BitTorrent
Comment[vi]=Tải và chia sẻ tập tin qua BitTorrent
Comment[zh_CN]=通过 BitTorrent 下载和共享文件
Comment[zh_TW]=利用 BitTorrent 協定來下載和分享檔案
Exec=transmission-qt %F
Icon=transmission
Terminal=false
TryExec=transmission-qt
Type=Application
MimeType=application/x-bittorrent;
Categories=Network;FileTransfer;P2P;Qt;
