[Desktop Entry]
Type=Application
Version=1.9.0
Encoding=UTF-8
Name=Conky
Name[tr]=Conky
GenericName=Torsmo codebased System monitor for X
GenericName[tr]=Torsmo Çatalı Bir Sistem İzleyicisi
Icon=conky.png
Exec=conky
Terminal=false
StartupNotify=false
Categories=System;