[Desktop Entry]
Exec=/usr/sbin/lxdm
Type=Application
X-Pardus-PlymouthTransition=true
X-Pardus-XCursorTheme=Oxygen_White

Name=LXDM
GenericName=Lxde Login Manager
GenericName[tr]=Lxde Giriş Yöneticisi
