[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Rocks'N'Diamonds
Name[tr]=Rocks'N'Diamonds
GenericName=Boulderdash like game
GenericName[tr]=Boulderdash benzeri oyun
Icon=rocksndiamonds
Exec=rocksndiamonds
Terminal=false
StartupNotify=false
Categories=Application;Game;Arcade;
