[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Abe
Name[tr]=Abe
GenericName=Abe
GenericName[tr]=Abe
Icon=/usr/share/pixmaps/abe.png
Exec=abe
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame;
