[Desktop Entry]
Name=QjackCtl
Name[tr]=QjackCtl
GenericName=JACK Control
GenericName[tr]=JACK Kontrolcüsü
Comment=QjackCtl is a JACK Audio Connection Kit Qt GUI Interface
Comment[tr]=QjackCtl, JACK Qt arayüzü
Exec=/usr/bin/qjackctl
Icon=qjackctl
Categories=Application;Audio;AudioVideo;MIDI;JACK;ALSA;Qt;
Terminal=false
Type=Application
