#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Zekr
Name[fa]=ذکر
Name[tr]=Zekr
Comment=Study The Quran
Comment[tr]=Kur'ani-ı Kerim Çalışmaları
Comment[fa]=قرآن را مطالعه نمایید
GenericName=Quranic Browser
GenericName[tr]=Kur'an-ı Kerim Tarayıcısı
GenericName[fa]=مرورگر قرآنی
Exec=zekr
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/zekr.png
Categories=Education;
