[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=StormbaanCoureur
Name[tr]=StormbaanCoureur
GenericName=Assault Course Driver
GenericName[tr]=Yakın Muharebe Araba Sürme Oyunu
Icon=stormbaancoureur
Exec=stormbaancoureur
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame;
