[Desktop Entry]
Name=Chavier
GenericName=Chavier
Comment=Graph plotting visualization
Comment[tr]=Basit bir grafik çizim programı
Exec=chavier
Icon=pycha.png
Terminal=false
Type=Application
Categories=Graphics;
