#!/usr/bin/env xdg-open
[Desktop Entry]
Name=ksuperkey
Comment=Open the application launcher in KDE Plasma Desktop using the Super key.
Comment[tr]=Uygulama başlatıcısını KDE Plasma Masaüstü'nde  Super Tuş'u kullanarak açın.
Exec=ksuperkey
Type=Application