[Desktop Entry]
Exec=/usr/sbin/gdm
Icon=gdm
Type=Application
X-Pardus-XCursorTheme=jimmac
X-Pardus-PlymouthTransition=true

Name=GDM
GenericName=GNOME Display Manager
GenericName[tr]=GNOME Giriş Yöneticisi
