[Unit]
Description=rdisc daemon which discovers routers on the local subnet
After=syslog.target network.target

[Service]
Type=forking
EnvironmentFile=/etc/conf.d/rdisc
ExecStart=/sbin/rdisc $RDISCOPTS

[Install]
WantedBy=multi-user.target
