[Desktop Entry]
Encoding=UTF-8
Name=Neverball
Name[tr]=Neverball
Type=Application
GenericName=3D Roll the Ball Game
GenericName[tr]=3B Top Yuvarlama Oyunu
Exec=neverball
Icon=neverball
Categories=Game;ArcadeGame;
