[Desktop Entry]
Encoding=UTF-8
GenericName=Radio Player
GenericName[tr]=Radyo Çalar
Name=Last.fm
Exec=lastfm
Icon=lastfm
Type=Application
Terminal=false
X-KDE-StartupNotify=false
Categories=Qt;KDE;AudioVideo;
