[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=NVIDIA X Server Settings
Name[tr]=NVIDIA X Sunucu Ayarları
Comment=Configure NVIDIA X Server Settings
Comment[tr]=NVIDIA X Sunucu Ayarlarını Yapılandır
Exec=xdg-su -c "nvidia-settings"
Icon=nvidia-settings
Categories=Settings;
TryExec=/sys/module/nvidia
