[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=GLtron
Name[tr]=GLtron
GenericName=Tron Style Racer
GenericName[tr]=Tron Yarışı
Icon=gltron
Exec=gltron
Terminal=false
StartupNotify=false
Categories=Application;Game;ActionGame;
