[Desktop Entry]
Encoding=UTF-8
Name=iTestClient
GenericName=iTest Client
GenericName[tr]=iTest İstemcisi
Exec=iTestClient
Icon=itest
Type=Application
Categories=Qt;KDE;Education;Teaching;
