[Desktop Entry]
Encoding=UTF-8
Name=iTestServer
GenericName=Database Server
GenericName[tr]=Veritabanı Sunucusu
Exec=iTestServer
Icon=itestwri
Type=Application
Categories=Qt;KDE;Education;Teaching;
