[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=LibreCAD
Name[tr]=LibreCAD
GenericName=A 2D CAD drawing tool based QCad
GenericName[tr]=QCad tabanlı 2D CAD çizim programı
Icon=librecad
Exec=/usr/bin/librecad
Terminal=false
StartupNotify=false
Categories=Graphics;Engineering;

