[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=gbdfed
Name[tr]=gbdfed
GenericName=Bitmap Font Editor
GenericName[tr]=Bit Eşlem Yazıtipi Düzenleyici
Icon=gbdfed
Exec=gbdfed
Terminal=false
StartupNotify=false
Categories=Application;Graphics;
