[Desktop Entry]
Name=Xsynth-DSSI
GenericName=Software Synthesizer
GenericName[tr]=Yazılımsal Sentezleyici
Comment=A classic-analog (VCOs-VCF-VCA) style software synthesizer
Comment[tr]=Analog tarzda (VCOs-VCF-VCA) ses sentezleyici
Icon=xsynth-dssi
Type=Application
Exec=/usr/bin/xsynth-dssi
Terminal=false
Categories=Audio;AudioVideo;Midi;X-Synthesis;X-Jack;
