[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Pathological
Name[tr]=Pathological
GenericName=Pathological
GenericName[tr]=Pathological
Icon=pathological.xpm
Exec=pathological
Terminal=false
StartupNotify=false
Categories=Application;Game;PuzzleGame;
