[Unit]
Description=Distributed IRC Core
After=network.target

[Service]
User=quasselcore
Group=quassel
PIDFile=/run/quasselcore.pid
ExecStart=/usr/bin/quasselcore --datadir=/var/cache/quassel

[Install]
WantedBy=multi-user.target
