[Desktop Entry]
Comment=Bibliographic Reference Citation Tool
Comment[tr]=Bibliyografik başvuru alıntılama aracı
Exec=cb2bib --citer %F
GenericName=Başvuru alıntılama aracı
GenericName[ca]=Eina per citacions bibliogràfiques
Icon=/usr/share/pixmaps/cb2bib.png
MimeType=text/x-bibtex;
Name=c2bCiter
Path=/usr/bin
StartupNotify=false
Terminal=false
Categories=Office;
Type=Application
