[Desktop Entry]
Comment=Donwload reference to cb2Bib
Comment[tr]=cb2Bib indiricisi
Exec=cb2bib --import %f
GenericName=cb2Bib Import Reference
GenericName[tr]=cb2Bib bibliyografi indiricisi
Icon=/usr/share/pixmaps/cb2bib.png
MimeType=text/x-bibtex;application/x-download;application/bibtex;
Name=c2bImport
Path=/usr/bin
NoDisplay=false
StartupNotify=false
Terminal=false
Categories=Office;
Type=Application
