[Desktop Entry]
Comment=Bibliographic Reference Extracting Tool
Comment[tr]=Bibliyografi dışarı aktarıcısı
Exec=cb2bib --bibedit %F
GenericName=Reference Extracting Tool
GenericName[tr]=Bibliyografi dışarı aktarıcısı
Icon=/usr/share/pixmaps/cb2bib.png
MimeType=text/x-bibtex;
Name=cb2Bib
Path=/usr/bin
StartupNotify=true
Terminal=false
Categories=Office;
Type=Application
