[Desktop Entry]
Encoding=UTF-8
Name=TecnoBallZ
GenericName=A Brick Busting game
GenericName[tr]=Tuğla Patlatma Oyunu
Exec=tecnoballz
Icon=tecnoballz
Terminal=false
Type=Application
Categories=Game;ArcadeGame;
