[Desktop Entry]
Name=Radeon Profile
Comment=Monitor Radeon GPU parameters and switch power profiles
Comment[tr]=Radeon Kullanım Analizcisi ve Profil değiştirici
Exec=xdg-su -c "radeon-profile"
Icon=radeon-profile
Terminal=false
Type=Application
Categories=System;
StartupNotify=false
