#!/usr/bin/env xdg-open

[Desktop Entry]
Name=Winetricks
X-GNOME-FullName=Winetricks
Comment=Wine 
Exec=/usr/bin/winetricks
Terminal=false
Type=Application
StartupNotify=false
Icon=wine
Categories=System
