#!/usr/bin/env xdg-open
[Desktop Entry]
Encoding=UTF-8
Version=Beta
Type=Application
Terminal=false
Icon=/usr/share/pixmaps/taskcoach.png
Name=TaskCoach
Exec=taskcoach.py
Comment[tr]=Task Coach kişisel görevleri ve yapılması gerekenler listelerinizi düzenlemeyi sağlayan basit, açık kaynak kodlu yapılması gerekenler listesi yöneticisidir.
Comment[en]=Task Coach is a simple open source todo manager to keep track of personal tasks and todo lists..
Comment=Task Coach is a simple open source todo manager to keep track of personal tasks and todo lists..
Categories=Application;Network;
