[Desktop Entry]
Name=Package Manager
Name[tr]=Paket Yöneticisi
Exec=package-manager
Icon=package-manager
Type=Application
Terminal=false
X-KDE-StartupNotify=true
X-DBUS-StartupType=Unique
Categories=GTK;Settings;DesktopSettings;
OnlyShowIn=MATE;
