pidgin-2.7.2.tar.bz2
pidgin-2.7.3.tar.bz2
/pidgin-2.7.4.tar.bz2
/pidgin-2.7.5.tar.bz2
/pidgin-2.7.7.tar.bz2
/pidgin-2.7.9.tar.bz2
/pidgin-2.7.10.tar.bz2
/pidgin-2.7.11.tar.bz2
/pidgin-2.8.0.tar.bz2
/pidgin-2.9.0.tar.bz2
/pidgin-2.10.0.tar.bz2
/pidgin-2.10.1.tar.bz2
/pidgin-2.10.2.tar.bz2
/pidgin-2.10.4.tar.bz2
/pidgin-2.10.5.tar.bz2
/pidgin-2.10.6.tar.bz2
/pidgin-2.10.7.tar.bz2
