[Unit]
Description=GNU Krell Monitors server
After=network.target syslog.target hddtemp.service

[Service]
ExecStart=/usr/bin/gkrellmd

[Install]
WantedBy=multi-user.target
