[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=GKrellM
Name[tr]=GKrellM
GenericName=Krell Monitor
GenericName[tr]=Sistem Krell İzleyicisi
Icon=gkrellm
Exec=gkrellm
Terminal=false
StartupNotify=false
Categories=Application;System;
