[Desktop Entry]
Name=lilycomp
Exec=/usr/bin/lilycomp
Categories=Application;AudioVideo;
Comment=Graphical note entry program for LilyPond
Comment[tr]=Lilypond grafik arayüzü
Encoding=UTF-8
GenericName=Lilypond GUI
GenericName[tr]=Lilypond grafik arabirimi
Icon=lilycomp.png
StartupNotify=true
Terminal=0
Type=Application
