[Desktop Entry]
Version=1.0
Name=gMTP
Comment=A simple MTP Client for MP3 Players
Comment[es]=Un sencillo cliente de plan de mediano plazo para los reproductores de MP3
Comment[fr]=Un simple MTP Client pour Lecteurs MP3
Comment[da]=En simpel MTP Client for MP3-afspillere
Comment[de]=Eine einfache MTP-Client für MP3-Player
Comment[it]=Un semplice client per MTP Lettori MP3
Comment[tr]=Telefon ve MP3 çalarlar için MTP istemcisi
Exec=xdg-su -c gmtp
Icon=gmtpicon
Type=Application
Categories=AudioVideo;Audio;
