[Desktop Entry]
Encoding=UTF-8
Name=Thunderbird
GenericName=Mail Application
GenericName[tr]=E-Posta Uygulaması
Comment=Send and Receive E-mail
Comment[tr]=E-posta Gönderin ve Alın
TryExec=thunderbird
Exec=thunderbird
Icon=thunderbird.png
Terminal=false
Type=Application
StartupWMClass=Thunderbird-bin
StartupNotify=true
Categories=Application;Network;Email;
