[Desktop Entry]
Encoding=UTF-8
Name=Thunderbird
Name[ar]=موزلا ثندَربرد
Name[bg]=Мозила Пощальон
Name[bn]=মোজিলা থান্ডারবার্ড
Name[br]=Mozilla Thunderbird
Name[bs]=Mozilla Thunderbird
Name[ca]=Mozilla Thunderbird
Name[cs]=Mozilla Thunderbird
Name[cy]=Mozilla Thunderbird
Name[da]=Mozilla Thunderbird
Name[de]=Mozilla Thunderbird
Name[el]=Mozilla Thunderbird
Name[eo]=Mozilo Thunderbird
Name[es]=Mozilla Thunderbird
Name[et]=Mozilla Thunderbird
Name[eu]=Mozilla Thunderbird
Name[fa]=پرنده‌صاعقه موزیلا
Name[fi]=Mozilla Thunderbird
Name[fr]=Mozilla Thunderbird (courrier électronique)
Name[gl]=Mozilla Thunderbird
Name[he]=Mozilla Thunderbird
Name[hi]=मोज़िला थंडरबर्ड
Name[hu]=Mozilla Thunderbird
Name[id]=Mozilla Thunderbird
Name[is]=Mozilla Thunderbird
Name[it]=Mozilla Thunderbird
Name[ja]=Mozilla Thunderbird
Name[ko]=모질라 썬더버드
Name[ky]=Mozilla Thunderbird
Name[mk]=Mozilla Thunderbird
Name[mn]=Мозилла түндэрбөрд
Name[nb]=Mozilla Thunderbird
Name[nl]=Mozilla Thunderbird
Name[nn]=Mozilla Thunderbird
Name[pl]=Mozilla Thunderbird
Name[pt]=Mozilla Thunderbird
Name[pt_BR]=Mozilla Thunderbird
Name[ro]=Mozilla Thunderbird
Name[ru]=Mozilla Thunderbird
Name[sc]=Mozilla Thunderbird
Name[sk]=Mozilla Thunderbird
Name[sl]=Mozilla Thunderbird
Name[sv]=Mozilla Thunderbird
Name[tg]=Мозиллаи Thunderbird
Name[th]=Mozilla Thunderbird
Name[tl]=Mozilla Thunderbird
Name[tr]=Mozilla Thunderbird
Name[uk]=Mozilla Thunderbird
Name[uz]=Mozilla Thunderbird
Name[uz@cyrillic]=Mozilla Thunderbird
Name[vi]=Mozilla Thunderbird
Name[wa]=Mozilla Thunderbird
Name[zh_CN]=Mozilla Thunderbird 电子邮件
Name[zh_TW]=Mozilla Thunderbird
GenericName=Mail & News Reader
GenericName[ar]=بريد/أخبار
GenericName[bg]=Поща/Новини
GenericName[br]=Posteloù/keleier
GenericName[cs]=Pošta/Diskusní skupiny
GenericName[cy]=E-bost/Newyddion
GenericName[da]=E-post/Nyheder
GenericName[de]=E-Mail/News
GenericName[el]=Αλληλογραφία/Νέα
GenericName[es]=Correo/Noticias
GenericName[et]=E-post/Uudistegrupid
GenericName[eu]=Posta/Berriak
GenericName[fi]=Sähköposti / uutisryhmät
GenericName[fr]=Courriel/Nouvelles
GenericName[gl]=Correo/Novas
GenericName[he]=דואר/קבוצות דיון
GenericName[hu]=Levelezés/hírek
GenericName[id]=Mail/Berita
GenericName[is]=Póstur/Fréttir
GenericName[it]=Mail/News
GenericName[ja]=メール/ニュース
GenericName[ky]=Почта/Жаңылыктар
GenericName[mk]=Пошта/Вести
GenericName[nb]=E-post/Njus
GenericName[nl]=E-mail/nieuws
GenericName[nn]=E-post og temagrupper
GenericName[pl]=Poczta/wiadomości
GenericName[pt]=Correio/Noticias
GenericName[pt_BR]=E-mail/Notícias
GenericName[ro]=Poștă/Știri
GenericName[ru]=Почта/Новости
GenericName[sl]=Pošta/Novičarske skupine
GenericName[sv]=E-post/Nyheter
GenericName[tr]=Posta/Haber
GenericName[uk]=Пошта/Новини
GenericName[uz]=Xat-xabar/Yangiliklar
GenericName[uz@cyrillic]=Хат-хабар/Янгиликлар
GenericName[zh_CN]=邮件/新闻
GenericName[zh_TW]=郵件/新聞
Comment=Mail Client & News Reader
Comment[ar]=عميل بريد وأخبار
Comment[bg]=Пощенски и новинарски клиент
Comment[bs]=E-mail i news klijent
Comment[cs]=Klient pro poštu a diskusní skupiny
Comment[cy]=Rhaglen E-bost a Newyddion
Comment[da]=E-post- og nyhedsklient
Comment[de]=E-Mail und Nachrichten Client
Comment[el]=Πελάτης Αλληλογραφίας και Νέων
Comment[es]=Cliente de correo electrónico y noticias
Comment[et]=E-posti ja uudisteklient
Comment[eu]=Posta eta Berri bezeroa
Comment[fi]=Sähköpostin ja uutisryhmien luku- ja kirjoitusohjelma
Comment[fr]=Client messagerie et news
Comment[gl]=Cliente de Correo-e e Novas
Comment[he]=לקוח חדשות ודוא"ל
Comment[hu]=Levelezőprogram és hírolvasó
Comment[id]=Klien Mail dan Berita
Comment[is]=Póst og frétta-forrit
Comment[it]=Client per posta elettronica e news
Comment[ja]=メールクライアントとニュースリーダー
Comment[ky]=Почта жана Жаңылыктар клиентти
Comment[mk]=Клиент за е-пошта и вести
Comment[nb]=E-post- og nyhetsklient
Comment[nl]=Mail- en newsprogramma
Comment[nn]=E-post og temagruppeprogram
Comment[pl]=Klient pocztowy oraz klient grup dyskusyjnych
Comment[pt]=Cliente de Correio e Notícias
Comment[pt_BR]=Cliente de E-mail e Notícias
Comment[ro]=Client de poștă și știri
Comment[ru]=Клиент чтения новостей и почты
Comment[sl]=Odjemalec za e-pošto in novice
Comment[sv]=E-post och Nyhets-klient
Comment[tr]=Posta ve Haber İstemcisi
Comment[uk]=Поштовий клієнт та клієнт новин
Comment[zh_CN]=邮件和新闻客户程序
Comment[zh_TW]=郵件與新聞用戶端
TryExec=thunderbird
Exec=thunderbird %u
Icon=thunderbird
Terminal=false
Type=Application
StartupNotify=true
Categories=Application;Network;Email;
MimeType=message/rfc822;x-scheme-handler/mailto;