[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Boncuk
Name[tr]=Boncuk
GenericName=Online/Offline Dictionary
GenericName[tr]=Çevrimiçi ve Çevrimdışı Sözlük
Comment=Translate English and Turkish words with local and internet database
Comment[tr]=İngilizce Türkçe kelimeleri yerel ve internet veritabanında çevirin
Icon=boncuk
Categories=Qt;Application;Utility;
Exec=boncuk
StartupNotify=false
Terminal=false
