[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=UrbanTerror
Name[tr]=UrbanTerror
GenericName=Urban Terror
GenericName[tr]=Urban Terror
Icon=urbanterror
Exec=urbanterror
Terminal=false
StartupNotify=false
Categories=Application;Game;ActionGame;
