[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Don Ceferino Hazaña
GenericName=Action Game
GenericName[tr]=Aksiyon Oyunu
Comment=A Super Pang game
Comment[tr]=Bir Super Pang oyunu
Icon=ceferino
Exec=ceferino
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame;
