[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Ltris
GenericName=SDL Tetris Clone
GenericName[tr]=Tetris Oyunu
Comment=SDL Tetris Clone
Comment[tr]=Tetris Oyunu
Icon=/usr/share/pixmaps/ltris48.xpm
TryExec=ltris
Exec=ltris
Terminal=false
Categories=Qt;KDE;Game;BlocksGame;
