[Desktop Entry]
Exec=/usr/bin/kdm
Icon=kde
Type=Application
X-Pardus-PlymouthTransition=true
X-Pardus-XCursorTheme=Oxygen_White

Name=KDM
GenericName=KDE Login Manager
GenericName[tr]=KDE Giriş Yöneticisi
