[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=LBreakout2
GenericName=Breakout Clone
GenericName[tr]=Breakout Oyunu
Icon=lbreakout2
TryExec=lbreakout2
Exec=lbreakout2
Terminal=false
Categories=Qt;KDE;Game;ArcadeGame;
