[Desktop Entry]
Name=Zynaddsubfx
GenericName=Real-time MIDI software synth
GenericName[tr]=Gerçek zamanlı MIDI sentezleyici
Exec=/usr/bin/zynaddsubfx
Icon=zynaddsubfx
Terminal=false
Type=Application
StartupNotify=true
Categories=AudioVideo;Audio;Midi;
