#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Nogravity
Name[tr]=Nogravity
GenericName=Space Simulation
GenericName[tr]=Uzay Simulasyonu
Icon=nogravity
Exec=nogravity
Terminal=false
StartupNotify=false
Categories=Application;Game;Simulation;
