[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Extreme Tuxracer
Name[tr]=Extreme Tuxracer
GenericName=Tux Race on Ice
GenericName[tr]=Buzul Üstünde Tux Yarışı
Icon=extreme-tuxracer
Exec=etracer
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame;
