[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Free Tennis 1280
GenericName=Tennis Game (1280x1024)
GenericName[tr]=Tenis Oyunu (1280x1024)
Comment=A tennis simulator
Comment[tr]=Bir tenis simülatörü
Icon=freetennis
Exec=cd /opt/freetennis/ && ./freetennis -newbie -xres 1280 -yres 1024
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame;
