[Desktop Entry]
Encoding=UTF-8
Name=eboard
Comment="Chess Game"
Comment[tr]="Satranç Oyunu"
GenericName=Chess Game
GenericName[tr]=Satranç Oyunu
Exec=eboard
Icon=icon-eboard
Terminal=false
Type=Application
Categories=Game;BoardGame;
