[Desktop Entry]
Encoding=UTF-8
Name=GParted
Name[bg]=GParted
Name[ca]=GParted
Name[cs]=GParted
Name[de]=GParted
Name[dz]=ཇི་པར་ཊེཊི།
Name[el]=GParted
Name[en_CA]=GParted
Name[en_GB]=GParted
Name[es]=GParted
Name[fi]=GParted
Name[fr]=GParted
Name[gl]=GParted
Name[he]=GParted
Name[hu]=GParted
Name[it]=GParted
Name[ja]=GParted
Name[lt]=GParted
Name[lv]=GParted
Name[mk]=Гпартед
Name[nb]=GParted
Name[ne]=जिपार्टेड
Name[nl]=GParted
Name[pa]=GParted
Name[pl]=GParted
Name[pt]=GParted
Name[pt_BR]=GParted
Name[ru]=GParted
Name[sl]=GParted
Name[sv]=GParted
Name[tr]=GParted
Name[uk]=GParted
Name[vi]=GParted
Name[zh_CN]=GParted
Name[zh_HK]=GParted
Name[zh_TW]=GParted
Comment=GNOME Partition Editor
Comment[bg]=Редактор на дялове на диск за GNOME
Comment[ca]=Editor de particions del GNOME
Comment[dz]=ཇི་ནོམ་བར་བཅད་ཞུན་དགཔ།
Comment[en_CA]=GNOME Partition Editor
Comment[en_GB]=GNOME Partition Editor
Comment[es]=Editor de particiones de GNOME
Comment[fi]=Gnomen levyosioiden muokkain
Comment[fr]=Éditeur de partition de Gnome
Comment[gl]=Editor de particións de Gnome
Comment[hu]=GNOME partíciószerkesztő
Comment[ja]=Gnome パーティション編集ツール
Comment[lt]=GNOME skirsnių redaktorius
Comment[lv]=GNOME partīciju redaktors
Comment[mk]=Уредувач на партиции за Гном
Comment[nb]=GNOME partisjonsredigering
Comment[ne]=जिनोम विभाजन सम्पादक
Comment[nl]=Gnome Partitiebewerker
Comment[pa]=ਗਨੋਮ ਭਾਗ ਸੰਪਾਦਕ
Comment[pt_BR]=Editor de Partições do GNOME
Comment[sl]=Urejevalnik razdelkov za GNOME
Comment[sv]=Partitionsredigerare för GNOME
Comment[tr]=GNOME Bölümleme Düzenleyicisi
Comment[vi]=Bộ hiệu chỉnh phân vùng Gnome
Comment[zh_HK]=GNOME 分割區編輯器
Comment[zh_TW]=GNOME 分割區編輯器
GenericName=GNOME Partition Editor
GenericName[bg]=Редактор на дялове на диск за GNOME
GenericName[ca]=Editor de particions del GNOME
GenericName[dz]=ཇི་ནོམ་བར་བཅད་ཞུན་དགཔ།
GenericName[en_CA]=GNOME Partition Editor
GenericName[en_GB]=GNOME Partition Editor
GenericName[es]=Editor de particiones de GNOME
GenericName[fi]=Gnomen levyosioiden muokkain
GenericName[fr]=Éditeur de partition de Gnome
GenericName[gl]=Editor de particións de Gnome
GenericName[hu]=GNOME partíciószerkesztő
GenericName[ja]=Gnome パーティション編集ツール
GenericName[lt]=GNOME skirsnių redaktorius
GenericName[lv]=GNOME partīciju redaktors
GenericName[mk]=Уредувач на партиции за Гном
GenericName[nb]=GNOME partisjonsredigering
GenericName[ne]=जिनोम विभाजन सम्पादक
GenericName[nl]=Gnome Partitiebewerker
GenericName[pa]=ਗਨੋਮ ਭਾਗ ਸੰਪਾਦਕ
GenericName[pt_BR]=Editor de Partições do GNOME
GenericName[sl]=Urejevalnik razdelkov za GNOME
GenericName[sv]=Partitionsredigerare för GNOME
GenericName[tr]=Disk Bölümü Düzenleyicisi
GenericName[vi]=Bộ hiệu chỉnh phân vùng Gnome
GenericName[zh_HK]=GNOME 分割區編輯器
GenericName[zh_TW]=GNOME 分割區編輯器
Exec=xdg-su -c gparted
Icon=gparted.png
Terminal=false
Type=Application
Categories=GNOME;Application;System;
StartupNotify=true
