#!/usr/bin/env xdg-open
[Desktop Entry]
Categories=Network;InstantMessaging;FileTransfer;Chat;Email;
Comment[tr]=Securely P2P File Sharing
Comment=Securely P2P File Sharing
Exec=retroshare-gui
GenericName[tr]=P2P File Sharing
GenericName=P2P File Sharing
Icon=/usr/share/pixmaps/retroshare.png
MimeType=
Name[tr]=RetroShare
Name=RetroShare
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
