[Desktop Entry]
Encoding=UTF-8
Name=Epydoc
Comment=A Tool to document Python Modules due to their docstrings
Comment[tr]= Python modüllerini doc dizgilerine göre belgelemeye yarar
GenericName=Python Doc Generator
GenericName[tr]=Python Dökümantasyon Yaratıcısı
Type=Application
Exec=epydocgui
Icon=epydoc.png
StartupNotify=false
Terminal=false
Categories=Development
