[Desktop Entry]
Encoding=UTF-8
Name=xgpsspeed
GenericName=GPS speedometer
GenericName[tr]=GPS hızölçer
Comment=Display GPS speed from a gpsd daemon
Comment[tr]=gpsd hizmetinden alınan hız bilgilerini görüntüler
Exec=xgpsspeed
Icon=gpsd-logo
Terminal=false
Type=Application
Categories=Application;Graphics;
