[Desktop Entry]
Encoding=UTF-8
Name=xgps
GenericName=GPS information
GenericName[tr]=GPS bilgi görüntüleyici
Comment=Display GPS information from a gpsd daemon
Comment[tr]=gpsd hizmetinden alınan bilgileri görüntüler
Exec=xgps
Icon=gpsd-logo
Terminal=false
Type=Application
Categories=Application;Graphics;
