[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=AstroMenace
Name[tr]=AstroMenace
GenericName=3D Space Simulation
GenericName[pl]=Kosmiczna Symulacja 3D
GenericName[tr]=3B Uzay Simülasyonu
Icon=AstroMenace
Exec=AstroMenace
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame;
