[Desktop Entry]
Encoding=UTF-8
Version=1.0
Exec=gambas3
Icon=gambas3
Name=Gambas III Integrated Development Environment
Name[tr]=Gambas III Tümleşik Geliştirme Ortamı
Type=Application
Categories=Application;Development;IDE;
StartupNotify=true
