[Desktop Entry]
Type=Application
Version=0.5.7
Encoding=UTF-8
Name=Font Manager
GenericName=Font Manager
GenericName[tr]=Yazıtipi Yöneticisi
Comment=A font management application for the GNOME desktop
Comment[tr]=Bir GNOME yazıtipi yönetim aracı
Icon=font-manager
Exec=font-manager
Terminal=false
StartupNotify=false
Categories=Utility;

