[Desktop Entry]
Encoding=UTF-8
Name=fluxbox
Comment=fluxbox window manager
Comment[tr]=fluxbox pencere yöneticisi
Exec=/usr/bin/startfluxbox
Type=Application
