[Desktop Entry]
Name=Firewall Manager
Name[az]=Təhlükəsizlik Divarı İdarəçisi
Name[da]=Håndtering af firewall
Name[de]=Firewall
Name[es]=Administrador de Cortafuegos
Name[fr]=Pare-feu
Name[hu]=Tűzfal kezelő
Name[it]=Firewall Manager
Name[nl]=Firewallbeheer
Name[pl]=Menadżer zapory sieciowej.
Name[pt_BR]=Gerenciador do Firewall
Name[ru]=Firewall Manager
Name[sr]=Менаџер ватреног зида
Name[sv]=Brandväggshanteraren
Name[tr]=Güvenlik Duvarı Yöneticisi
Name[uk]=Керування мережевої безпеки.
GenericName=Firewall Manager
GenericName[az]=Təhlükəsizlik Divarı İdarəçisi
GenericName[da]=Håndtering af firewall
GenericName[de]=Firewall
GenericName[es]=Administrador de Cortafuegos
GenericName[fr]=Pare-feu
GenericName[hu]=Tűzfal kezelő
GenericName[it]=Firewall Manager
GenericName[nl]=Firewallbeheer
GenericName[pl]=Menadżer zapory sieciowej.
GenericName[pt_BR]=Gerenciador do Firewall
GenericName[ru]=Firewall Manager
GenericName[sr]=Менаџер ватреног зида
GenericName[sv]=Brandväggshanteraren
GenericName[tr]=Güvenlik Duvarı Yöneticisi
GenericName[uk]=Керування мережевої безпеки.
Comment=An application for managing firewall.
Comment[az]=Təhlükəsizlik divarı idarəçilik vasitəsi
Comment[de]=Konfiguration der Firewall.
Comment[es]=Programa para gerenciar el cortafuegos
Comment[fr]=Une application de gestion du pare-feu.
Comment[hu]=Tűzfal kezelő alkalmazás
Comment[it]=Un'applicazione per la gestione del firewall.
Comment[nl]=Een toepassing voor het beheren van de firewall.
Comment[pl]=Aplikacja do zarządzania zaporą sieciową.
Comment[pt_BR]=Um aplicativo para gerenciar seu Firewall
Comment[ru]=Приложение для управления брандмауэром.
Comment[sr]=Апликација за управљање ватреним зидом.
Comment[sv]=Ett program för hantering av brandvägg.
Comment[tr]=Güvenlik duvarı yönetim aracı.
Comment[uk]=Програма для керування мережевої безпеки.
Exec=firewall-manager
Icon=security-high
Type=Application
Categories=Qt;KDE;System;
#NotShowIn=KDE;
