[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Project Starfighter
Name[tr]=Project Starfighter
GenericName=Space Battle
GenericName[tr]=Uzay Savaşı
Icon=project-starfighter
Exec=starfighter
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame;
