[Desktop Entry]
Name=TouchFreeze
Name[tr]=TouchFreeze
GenericName=Touchpad
GenericName[tr]=Dokunmatik alan kapatıcısı
Comment=X11 touch pad driver configuration utility
Comment[tr]=TouchFreeze herhangi bir metin yazmaya başladığınızda touchpadi devredışı bırakan küçük ve kullanışlı bir uygulamadır.
Exec=touchfreeze
Icon=touchpad
Terminal=false
Type=Application
StartupNotify=true
Categories=Categories=Qt;Utility;HardwareSettings;Settings;
