[Desktop Entry]
Type=Application
Name=Window Effects
Name[tr]=Pencere Efektleri
GenericName=Compton Configuration
Comment=Configure Compton window effects
Comment[tr]=Pencere Efektlerini Yapılandırın
TryExec=compton-conf
Exec=compton-conf
Icon=preferences-desktop-display
Categories=Settings;DesktopSettings;Qt;LXQt;

Name[ru]=Эффекты окна
GenericName[ru]=Настройка Compton
Comment[ru]=Настроить эффекты окна Compton
Name[ru_RU]=Эффекты окна
GenericName[ru_RU]=Настройка Compton
Comment[ru_RU]=Настроить эффекты окна Compton
Name[ja]=ウインドウ効果
GenericName[ja]=Comptonの設定
Comment[ja]=Comptonのウインドウ効果の設定
Name[de]=Fenstereffekte
GenericName[de]=Compton Konfiguration
Comment[de]=Konfiguriere Compton-Fenstereffekte
Name[pt]=Efeitos de janelas
GenericName[pt]=Configuração do Compton
Comment[pt]=Configurar os efeitos de janelas
