[Desktop Entry]
Encoding=UTF-8
Name=Pitivi Video Editor
Name[ast]=Editor de vídeu Pitivi
Name[bg]=Редактор на видео клипове (Pitivi)
Name[cs]=Editor videa Pitivi
Name[de]=Pitivi Video-Editor
Name[el]=Επεξεργαστής Βίντεο Pitivi
Name[en_GB]=PiTiVi Video Editor
Name[es]=Editor de vídeo Pitivi
Name[fi]=Pitivi-videomuokkain
Name[fr]=Éditeur vidéo Pitivi
Name[gl]=Editor de vídeo Pitivi
Name[hu]=Pitivi videoszerkesztő
Name[it]=Editor di video Pitivi
Name[lv]=Pitivi video redaktors
Name[pl]=Program do edycji wideo Pitivi
Name[pt]=Editor de Vídeo Pitivi
Name[pt_BR]=Editor de Vídeo Pitivi
Name[ro]=Editor video Pitivi
Name[ru]=Видеоредактор Pitivi
Name[sl]=Pitivi urejevalnik videa
Name[sv]=Videoredigeraren Pitivi
Name[tr]=Pitivi
Name[zh_CN]=Pitivi 视频编辑器
GenericName=Video Editor
GenericName[tr]=Video Düzenleyici
Comment=Create and edit your own movies
Comment[ast]=Crea y edita les tos películes
Comment[bg]=Създаване и редактиране на собствени филми
Comment[cs]=Vytvářejte a upravujte své vlastní filmy
Comment[de]=Erstellen und bearbeiten Sie Ihre eigenen Filme
Comment[el]=Δημιουργήστε και επεξεργαστείτε τις δικές σας ταινίες
Comment[en_GB]=Create and edit your own movies
Comment[es]=Cree y edite sus propias películas
Comment[fi]=Luo ja muokkaa elokuvia
Comment[fr]=Créer et modifier vos propres films
Comment[gl]=Cree e edite os seus filmes
Comment[hu]=Saját videók létrehozása és szerkesztése
Comment[it]=Crea e modifica i propri filmati
Comment[lv]=Izveido un rediģē savas filmas
Comment[pl]=Tworzy i edytuje twoje własne filmy
Comment[pt]=Criar e editar os seus filmes
Comment[pt_BR]=Crie e edite os seus próprios filmes
Comment[ro]=Creează și editează filmele tale
Comment[ru]=Создание и редактирование видеороликов
Comment[sl]=Ustvarjajte in urejajte vaše filme
Comment[sv]=Skapa och redigera dina egna filmer
Comment[zh_CN]=创建并编辑自己的电影
Exec=pitivi
Terminal=false
Type=Application
Icon=pitivi
Categories=GNOME;GTK;AudioVideo;AudioVideoEditing;
StartupNotify=true
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=pitivi
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=0.13.4
