[Desktop Entry]
Name=Dooble
Comment=Browse the World Wide Web
Comment[tr]=Web'de gezin
GenericName=Web Browser
GenericName[tr]=İnternet Tarayıcı
Exec=dooble
Terminal=false
Type=Application
Icon=/opt/dooble/Icons/48x48/dooble.png
Categories=Application;Qt;Network;WebBrowser;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;image/gif;image/jpeg;image/png;
StartupNotify=true
 
