[Desktop Entry]
Name=Stellarium 
Type=Application
Exec=stellarium
Comment=Astronomical Sky Simulator
comment[tr]=Astronomik gökyüzü simulatörü
GenericName=Sky Simulator
GenericName[tr]=Gökyüzü simulatörü
Encoding=Legacy-Mixed
Icon=/usr/share/pixmaps/stellarium-logo.png
Categories=Application;Education;Science;Astronomy;
