[Desktop Entry]
Encoding=UTF-8
Name=Aiksaurus
GenericName=English Thesaurus Library
GenericName[tr]=İngilizce Eş Anlamlılar Sözlüğü
Exec=gaiksaurus
Icon=aiksaurus
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;Application;Utility;
