[Desktop Entry]
Name=RapidMiner
GenericName=Data Mining Tool
GenericName[tr]=Veri Madenciliği Aracı
Comment=Data analysis and data mining engine
Comment[tr]=Veri analizi ve veri madenciliği motoru
Exec=rapidminer
Icon=rapidminer
Terminal=false
Type=Application
Categories=Science;Education;
