[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Ri-li
Name[tr]=Ri-li
GenericName=Ri-li
GenericName[tr]=Ri-li
Icon=Ri-li.png
Exec=Ri_li
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame;
