[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Globulation 2
Name[tr]=Globulation 2
GenericName=Strategy Game
GenericName[tr]=Strateji Oyunu
Icon=glob2
Exec=glob2
Terminal=false
StartupNotify=false
Categories=Application;Game;StrategyGame;
