[Desktop Entry]
Encoding=UTF-8
Icon=xawtv.xpm
Exec=xawtv
Name=XawTV
Name[tr]=XawTV
GenericName=Television Viewer
GenericName[tr]=Televizyon Uygulaması
Terminal=false
Type=Application
Categories=Application;AudioVideo;
