[Desktop Entry]
X-KDE-Solid-Predicate=[StorageVolume.ignored == false AND OpticalDisc.availableContent == 'Audio']
Actions=Rip;
Type=Service
InitialPreference=15

[Desktop Action Rip]
Name=Extract Digital Audio with KAudioCreator
Name[bg]=Извличане на цифров звук с KAudioCreator
Name[ca]=Extreu àudio digital amb el KAudioCreator
Name[cs]=Extrahovat digitální zvuk pomocí KAudioCreator
Name[csb]=Zgrôj dokôzë audio z pòmòcą KAudioCreator
Name[da]=Udtræk digital lyd med KAudioCreator
Name[de]=Digital-Audio mit KAudioCreator auslesen
Name[el]=Εξαγωγή ψηφιακού ήχου με το KAudioCreator
Name[eo]=Ekstrakti ciferecan sonon per KAudioCreator
Name[es]=Extraer audio digital con KAudioCreator
Name[et]=Ekstrakti digiheli KAudioCreator abil
Name[eu]=Erauzi audio digitala KAudioCreator-rekin
Name[fi]=Pura digitaalinen sisältö KAudioCreator:llä
Name[fr]=Extraction Audio avec KAudioCreator
Name[ga]=Bain Fuaim Dhigiteach Amach le KAudioCreator
Name[gl]=Extrair o áudio dixital con KAudioCreator
Name[he]=חלק שמע דיגיטלי עם KAudioCreator
Name[hne]=के३बी के साथ डिजिटल आडियो एक्सट्रेक्ट करव
Name[hsb]=Digitalne awdijo z KAudioCreator ekstrahować
Name[ja]=KAudioCreator でデジタルオーディオを吸い出し
Name[km]=ស្រង់​អូឌីយ៉ូ​ឌីជីថល ដោយប្រើ KAudioCreator
Name[ko]=KAudioCreator로 디지털 오디오 추출하기
Name[lv]=Izvilkt Digitālo Audio ar KAudioCreator
Name[nb]=Trekk ut digital lyd med KAudioCreator
Name[nds]=Digitaal Audiodaten mit KAudioCreator ruttrecken
Name[ne]=केथ्रीबीसँग डिजिटल अडियो झिक्नुहोस्
Name[nl]=Digitale audio rippen met KAudioCreator
Name[pa]=KAudioCreator ਨਾਲ ਡਿਜ਼ਿਟਲ ਆਡੀਓ ਕੱਢੋ
Name[pl]=Zgraj utwory za pomocą KAudioCreator
Name[pt]=Extrair o Áudio Digital com o KAudioCreator
Name[pt_BR]=Extrair Áudio Digital com o KAudioCreator
Name[ro]=Extragere audio digital cu KAudioCreator
Name[ru]=Извлечь звуковые дорожки, используя KAudioCreator
Name[sk]=Vytiahnuť digitálny zvuk pomocou KAudioCreator
Name[sv]=Lagra digitalljud med KAudioCreator
Name[th]=ดูดข้อมูลเสียงแบบดิจิทัลด้วย KAudioCreator
Name[tr]=KAudioCreator ile Sayısal Ses Aktar
Name[uk]=Витягти цифрове аудіо через KAudioCreator
Name[x-test]=xxExtract Digital Audio with KAudioCreatorxx
Name[zh_CN]=用 KAudioCreator 抓取数字音频
Exec=kaudiocreator %d
Icon=kaudiocreator
