ACTION!="add|change", GOTO="touchpad_quirks_end"
KERNEL!="event*", GOTO="touchpad_quirks_end"

ENV{ID_INPUT_TOUCHPAD}!="1", GOTO="touchpad_quirks_end"

# model specific quirks

# Dell Minis have a touchpad where the buttons and the touchpad area
# overlap. Clicking a button thus moves the pointer, this requires special
# Xorg configuration.

ATTR{[dmi/id]product_name}=="Inspiron 1011|Inspiron 1012", \
  ENV{ID_INPUT.tags}="touchpad_button_overlap"

LABEL="touchpad_quirks_end"
