#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=X-Moto
Name[tr]=X-Moto
GenericName=Motocross Game
GenericName[tr]=Motokros Oyunu
Icon=xmoto
Exec=xmoto
Terminal=false
StartupNotify=false
Categories=Application;Game;SportsGame;
