[Desktop Entry]
Encoding=UTF-8
Name=xmedcon
Comment=Medical image conversion tool
Comment[tr]=Medikal görüntü çevirme aracı
GenericName=Medical image conversion tool
GenericName[tr]=Medikal görüntü çevirme aracı
Exec=xmedcon
Icon=xmedcon
Terminal=false
Type=Application
Categories=Application;Graphics;Medical;
