[Desktop Entry]
Encoding=UTF-8
Name=QGit
Icon=qgit
Exec=qgit
Type=Application
Categories=Qt;KDE;Development;
GenericName=Graphical Interface for Git
GenericName[tr]=Git için Grafik Arayüz
