[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Ensemblist
Name[tr]=ensemblist
GenericName=3D Construction Game
GenericName[tr]=3B İnşa Oyunu
Icon=/usr/share/ensemblist/parenth.png
Exec=ensemblist
Terminal=false
StartupNotify=false
Categories=Application;Game;LogicGame;
