[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=VDrift
Name[tr]=VDrift
GenericName=Drift Racing
GenericName[tr]=Drift Yarışı
Icon=vdrift
Exec=vdrift
Terminal=false
StartupNotify=false
Categories=Application;Game;SportsGame;
