[Desktop Entry]
Name=Controller
GenericName=MIDI controller for ZynAddSubFX
GenericName[tr]=ZynAddSubFX için MIDI denetleyici
Exec=/usr/bin/controller
Icon=zynaddsubfx
Terminal=false
Type=Application
StartupNotify=true
Categories=AudioVideo;Audio;Midi;

