[Desktop Entry]
Name=Spliter
GenericName=MIDI keyboard spliter for ZynAddSubFX
GenericName[tr]=ZynAddSubFX için MIDI klavye spliter
Exec=/usr/bin/spliter
Icon=zynaddsubfx
Terminal=false
Type=Application
StartupNotify=true
Categories=AudioVideo;Audio;Midi;
