[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Gnomad2
Name[tr]=Gnomad2
GenericName=Music Manager
GenericName[tr]=Creative Müzikçalar Yöneticisi
Icon=gnomad2
Exec=gnomad2
Terminal=false
StartupNotify=false
Categories=Application;AudioVideo;
