[Desktop Entry]
Encoding=UTF-8
Name=gdpc
Comment=Show Molecular Simulations
Comment[tr]=Moleküler Simulasyonları Gösterir
GenericName= Molecular Simulation Showing Tool
GenericName[tr]= Moleküler Simulasyon Aracı
Exec=gdpc
Icon=gdpc.png
StartupNotify=false
Terminal=false
Type=Application
Categories=Qt;KDE;Education;Science;

