#!/usr/bin/env xdg-open
[Desktop Entry]
Name=History Manager
Name[tr]=Geçmiş Yöneticisi
Name[es]=Administrador de Históricos
Name[nl]=Geschiedenis beheer
GenericName=History Management Interface
GenericName[tr]=Geçmiş Yönetim Arayüzü
GenericName[es]=Administrador de Históricos
GenericName[nl]=Geschiedenis beheer interface
Icon=gnome-panel-clock
Type=Application
Exec=history-manager
Categories=GTK;GNOME;System;Settings;
OnlyShowIn=GNOME;
Comment=History Manager
Comment[tr]=Geçmiş Yönetim Arayüzü
Comment[nl]=Geschiedenis beheer
