[Desktop Entry]
Name=Network Manager
Name[tr]=Ağ Yöneticisi
Name[es]=Configuración de Red
Name[nl]=Netwerkbeheer
Name[de]=Netzwerk-Manager
Name[pt_BR]=Gerenciador de Rede
Name[fr]=Gestionnaire Réseau
Name[it]=Gestore della rete
GenericName[en]=Network Manager
GenericName[tr]=Ağ Yöneticisi
GenericName[es]=Configuración de Red
GenericName[nl]=Netwerkbeheer
GenericName[de]=Netzwerk-Manager
GenericName[pt_BR]=Gerenciador de Rede
GenericName[fr]=Gestionnaire Réseau
GenericName[it]=Gestore della rete
Icon=preferences-system-network
Type=Application
Exec=network-manager
Categories=GNOME;GTK;System;Settings
OnlyShowIn=GNOME;
