[Desktop Entry]
Name=Package Manager
Name[tr]=Paket Yöneticisi
Name[es]=Administrador de Paquetes
Name[nl]=Pakketbeheer
Name[de]=Paket-Manager
Name[pt_BR]=Gerenciador de Pacotes
Name[fr]=Gestionnaire de Paquets
Name[it]=Gestore di Pacchetti
GenericName[en]=Add or Remove Software
GenericName[tr]=Yazılım ekle ve kaldır
GenericName[nl]=Software toevoegen of verwijderen
GenericName[de]=Anwendung hinzufügen oder entfernen
GenericName[es]=Agregar o remover software
GenericName[pt_BR]=Adicionar ou Remover Software
GenericName[fr]=Ajouter ou Supprimer un Logiciel
GenericName[it]=Aggiungere o rimuovere un programmma
Comment=PiSi Package Manager Graphical User Interface
Comment[en]=PiSi Package Manager Graphical User Interface
Comment[tr]=PiSi Paket Yöneticisi Kullanıcı Grafik Arayüzü
Comment[nl]=PiSi Pakkerbeheer grafische gebruikersinterface
Comment[es]=Interfaz gráfico de Administrador de Paquetes PiSi
Comment[de]=PiSi Paket-Manager grafische Benutzeroberfläche
Comment[pt_BR]=Interface Gráfica do Usuário do Gerenciador de Pacotes PiSi
Comment[fr]=Interface Graphique du Gestionnaire de Paquet PiSi
Comment[it]=Interfaccia grafica per il Gestore di pacchetti PiSi
Icon=package-manager
Type=Application
Exec=package-manager
Categories=GNOME;GTK;System;Settings;
OnlyShowIn=GNOME;
