[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Service Manager
Name[tr]=Servis Yöneticisi
Name[es]=Administrador de Servicios
Name[nl]=Dienstbeheer
Name[de]=Dienst-Manager
Name[pt_BR]=Gerenciador de Serviços
Name[fr]=Gestionnaire de Services
Name[it]=Gestore dei servizi
GenericName[en]=Service Management Interface
GenericName[tr]=Servis Yönetim Arabirimi
GenericName[es]=Interfaz de Administración de Servicios
GenericName[nl]=Dienstbeheer interface
GenericName[de]=Dienstmanagement-Schnittstelle
GenericName[pt_BR]=Interface de Gerenciamento de Serviços
GenericName[it]=Interfaccia per la gestione dei servizi
Icon=network-server
Type=Application
Exec=service-manager
Categories=GNOME;GTK;System;Settings
GenericName[tr_TR]=Servis Yönetim Arabirimi
OnlyShowIn=GNOME;
