[Desktop Entry]
Type=Application
Name=Lock Screen
Name[de_DE]=Bildschirm sperren
Name[tr]=Ekranı Kilitle
Icon=system-lock-screen
Exec=xdg-screensaver lock
Comment=Lock Screen
Comment[de_DE]=Bildschirm vor unbefugtem Zugriff sperren
Comment[tr]=Ekranı yetkisiz kullanıma kilitle
StartupNotify=false
NoDisplay=true
Categories=X-LXDE;GTK;Settings;DesktopSettings;
OnlyShowIn=LXDE;
