[Desktop Entry]
Name=SmillaEnlarger
Exec=SmillaEnlarger
Terminal=false
Type=Application
Icon=smilla.png
Categories=Application;Multimedia;Graphics;
 
