[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Terminal emulator
Name[zh_CN]=终端
Name[zh_TW]=終端機
Name[tr]=Terminal Öykünücü
Comment=Terminal Emulator
Comment[zh_TW]=終端機程式
Comment[tr]=Terminal Öykünücü
GenericName=Terminal Emulator
GenericName[zh_TW]=終端機程式
GenericName[tr]=Terminal Öykünücü
Exec=/usr/bin/lxterminal
Icon=terminal
Terminal=false
Type=Application
Categories=System;TerminalEmulator;Utility;
StartupNotify=true
NoDisplay=true

# vi:set encoding=UTF-8:
