[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=ScreenLock
Name[tr]=Ekranı Kilite
Name[zh_TW]=鎖住螢幕
Comment=Lock your screen
Comment=Ekranınızı kilitleyin
Icon=system-lock-screen
Exec=xscreensaver-command -lock
NoDisplay=true
