[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Application
Name=Liquid War
Name[tr]=Liquid War
GenericName=Water War
GenericName[tr]=Su Savaşı
TryExec=liquidwar6
Exec=liquidwar6
FilePattern=liquidwar
Icon=liquidwar6
Categories=Application;Game;ArcadeGame;
Terminal=false
