/coreutils-8.10.tar.xz
/coreutils-8.11.tar.xz
/coreutils-8.12.tar.xz
/coreutils-8.13.tar.xz
/coreutils-8.14.tar.xz
/coreutils-8.15.tar.xz
/coreutils-8.16.tar.xz
/coreutils-8.17.tar.xz
/coreutils-8.18.tar.xz
/coreutils-8.19.tar.xz
