[Desktop Entry]
X-KDE-Solid-Predicate=[StorageVolume.ignored == false AND OpticalDisc.availableContent & 'VideoCd']
Actions=UMplayer;
Type=Service
X-KDE-Priority=TopLevel

[Desktop Action UMplayer]
Name=Play VCD
Name[tr]=VCD'yi Oynat
Exec=umplayer vcd:///%d
Icon=umplayer
