[Desktop Entry]
X-KDE-Solid-Predicate=[StorageVolume.ignored == false AND OpticalDisc.availableContent & 'VideoDvd']
Actions=UMplayer;
Type=Service
X-KDE-Priority=TopLevel

[Desktop Action UMplayer]
Name=Play DVD
Name[tr]=DVD'yi Oynat
Exec=umplayer dvdnav:///%d
Icon=umplayer
