[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Nexuiz
Name[tr]=Nexuiz
GenericName=SDL
GenericName[tr]=SDL
Icon=nexuiz
Exec=nexuiz
Terminal=false
StartupNotify=false
Categories=Application;Game;ActionGame;
