[Desktop Entry]
Encoding=UTF-8
Exec=assistant
Name=Qt4 Assistant
Name[af]=Qt4 Assistent
Name[ar]=معاون Qt4
Name[az]=Qt4 Yardımçısı
Name[bn]=কিউ-টি সহায়ক
Name[br]=Skoazeller Qt4
Name[bs]=Qt4 Asistent
Name[ca]=Assistent Qt4
Name[cs]=Qt4 asistent
Name[cy]=Cymhorthwr Qt4
Name[de]=Qt4-Assistent
Name[el]=Βοηθός Qt4
Name[eo]=Qt4-Asistilo
Name[es]=Asistente Qt4
Name[eu]=Qt4 laguntzailea
Name[fa]=دستیار Qt4
Name[fo]=Qt4-hjálpari
Name[fy]=Qt4-assistent
Name[hi]=क्यूटी सहायक
Name[hr]=Qt4 Asistent
Name[hsb]=Qt4 Asistent
Name[ja]=Qt4 アシスタント
Name[km]=អ្នក​ជំនួយការ Qt4
Name[ko]=Qt4 도우미
Name[lo]=ຄຳແນະນຳການໃ້ຊ້Qt4
Name[lv]=Qt4 Asistents
Name[mk]=Qt4-Асистент
Name[mn]=Qt4-туслагч
Name[ms]=Pembantu Qt4
Name[nds]=Qt4-Hölper
Name[nl]=Qt4 Assistent
Name[nso]=Mothusi wa Qt4
Name[pa]=Qt4 ਸਹਾਇਕ
Name[pt]=Assistente do Qt4
Name[pt_BR]=Assistente Qt4
Name[ro]=Asistent Qt4
Name[ru]=Помощник Qt4
Name[rw]=Umufasha Qt4
Name[sl]=Pomočnik za Qt4
Name[ss]=Lisekela leQt4 
Name[ta]=Qt4 துணைவன்
Name[tg]=Дастёри Qt4
Name[th]=คำแนะนำการใช้ Qt4
Name[tr]=Qt4 Asistanı
Name[uk]=Qt4-асистент
Name[uz]=Qt43 ёрдамчи
Name[ven]=Qt4 Muthusi
Name[vi]=Trợ giúp Qt4
Name[wa]=Macrea Qt4
Name[xh]=Qt4 Umncedi
Name[zh_CN]=Qt4 助手
Name[zh_TW]=Qt4 助理
Name[zu]=Umsizi we-Qt4
GenericName=Document Browser
GenericName[af]=Dokument Blaaier
GenericName[ar]=متصفح المستندات
GenericName[az]=Sənəd Səyyahı
GenericName[bg]=Преглед на документи
GenericName[bn]=নথী ব্রাউজার
GenericName[br]=Furcher Teulioù
GenericName[bs]=Preglednik QT dokumenata
GenericName[ca]=Navegador de documents
GenericName[cs]=Prohlížeč dokumentace
GenericName[cy]=Porydd Dogfen
GenericName[da]=Dokumentfremviser
GenericName[de]=Dokumentbrowser
GenericName[el]=Προβολέας εγγράφων
GenericName[eo]=Dokumentorigardilo
GenericName[es]=Navegador de documentos
GenericName[et]=Dokumentatsiooni brauser
GenericName[eu]=Dokumentu arakatzailea
GenericName[fa]=مرورگر سند
GenericName[fi]=Asiakirjaselain
GenericName[fo]=Skjalakagari
GenericName[fr]=Explorateur de documentation Qt4
GenericName[fy]=Dokumintblêder
GenericName[ga]=Brabhsálaí Cáipéise
GenericName[gl]=Navegador de Documentos
GenericName[he]=דפדפן מסמכים
GenericName[hi]=दस्तावेज़ ब्राउज़रज़र
GenericName[hr]=Preglednik dokumenata
GenericName[hu]=Dokumentumböngésző
GenericName[id]=Peselancar Document
GenericName[is]=Skjalavafri
GenericName[it]=Visualizzatore di documenti
GenericName[ja]=ドキュメントブラウザ
GenericName[km]=កម្មវិធី​រុករក​ឯកសារ
GenericName[ko]=문서 탐색기
GenericName[lo]=ເຄື່ອງມືເລືອກເບິ່ງແຟ້ມເອກະສານ
GenericName[lt]=Dokumentų naršyklė
GenericName[lv]=Dokumentu Pārlūks
GenericName[mk]=Прелистувач на документи
GenericName[mn]=Баримтын хөтөч
GenericName[ms]=Pelungsur Dokumen
GenericName[mt]=Browser ta' Dokumenti
GenericName[nb]=Dokumentleser
GenericName[nds]=Dokmentkieker
GenericName[nl]=Documentbrowser
GenericName[nn]=Dokumentlesar
GenericName[nso]=Seinyakisi sa Tokomane
GenericName[pa]=ਦਸਤਾਵੇਜ਼ ਝਲਕਾਰਾ
GenericName[pl]=Przeglądarka dokumentów
GenericName[pt]=Navegador de Documentos
GenericName[pt_BR]=Navegador de Documentos
GenericName[ro]=Navigator de documente
GenericName[ru]=Программа просмотра документов
GenericName[rw]=Mucukumbuzi w'Inyandiko
GenericName[se]=Dokumeantalogan
GenericName[sk]=Prehliadač dokumentácie
GenericName[sl]=Pregledovalnik dokumentov
GenericName[sr]=Прегледач докумената
GenericName[sr@Latn]=Pregledač dokumenata
GenericName[ss]=Ibrawuza yelidokhumente
GenericName[sv]=Dokumentbläddrare
GenericName[ta]=ஆவண உலாவி
GenericName[tg]=Тафсири ҳуҷҷат
GenericName[th]=เครื่องมือเลือกดูแฟ้มเอกสาร
GenericName[tr]=Belge Tarayıcısı
GenericName[tt]=İstälek Küzätüçe
GenericName[uk]=Навігатор документів
GenericName[uz]=Ҳужжат браузери
GenericName[ven]=Buronza ya manwalwa
GenericName[vi]=Trình duyệt tài liệu
GenericName[wa]=Foyteu di documints
GenericName[xh]=Umkhangeli Wencwadi Zoxwebhu
GenericName[zh_CN]=文档浏览器
GenericName[zh_TW]=文件閱讀器
GenericName[zu]=Umcingi Woshicilelo
X-KDE-StartupNotify=true
Icon=assistant
Terminal=false
Type=Application
Categories=Qt;Development;
