[Desktop Entry]
Encoding=UTF-8
Exec=linguist
Name=Qt4 Linguist
Name[ar]=لغوي Qt4
Name[bn]=কিউ-টি লিঙ্গুইস্ট
Name[ca]=Lingüista Qt4
Name[cy]=Ieithydd Qt4
Name[de]=Qt4-Linguist
Name[eo]=Qt4-Lingvisto
Name[es]=Lingüista Qt4
Name[fa]=Qt4 زبان‌شناس
Name[fi]=Qt4 Linquist
Name[fy]=Qt4 Linquist
Name[gl]=Lingüista Qt4
Name[hi]=क्यूटी लिंग्विस्ट
Name[hr]=Qt4 Lingvist
Name[km]=ភាសាវិទូ Qt4
Name[ko]=Qt4 언어학자
Name[lo]=ແປພາສາຂອງ Qt4
Name[lv]=Qt4 Lingvists
Name[mk]=Qt4-Јазичар
Name[mn]=Qt4-Хэл зүй
Name[ms]=Jurubahasa Qt4
Name[mt]=Lingwist Qt4
Name[nb]=Qt4-Linguist
Name[nds]=Qt4-Linguist
Name[nl]=Qt4 Linquist
Name[nso]=Sekaleleme sa Qt4
Name[pa]=Qt4 ਲੈਂਗੂਇਸਟ
Name[pl]=Lingwista Qt4
Name[ru]=Qt4 Лингвист
Name[rw]=Byindimi Qt4
Name[sl]=Jezikoslovec Qt4
Name[sv]=Qt4 linguist
Name[ta]=Qt4 மொழியறிஞர்
Name[tg]=Забони Qt4
Name[th]=แปลภาษาของ Qt4
Name[tr]=Qt4 Dilci
Name[tt]=Qt4 Telbelgeç
Name[uk]=Qt4-лінгвіст
Name[uz]=Qt4 лингвист
Name[ven]=Qt4 Radzinyambo
Name[vi]=Ngôn ngữ Qt4
Name[xh]=Usolwimi we Qt4
Name[zh_CN]=Qt4 语言家
Name[zh_TW]=Qt4 語言學家
Name[zu]=Owozolimi we-Qt4
GenericName=Translation Tool
GenericName[af]=Vertaling Program
GenericName[ar]=أداة للترجمة
GenericName[az]=Tərcümə Vasitəsi
GenericName[bn]=অনুবাদ টুল
GenericName[br]=Ostilh troidigezh
GenericName[bs]=Alat za prevođenje
GenericName[ca]=Eina de traducció
GenericName[cs]=Překladatelský nástroj
GenericName[cy]=Erfyn Cyfieithu
GenericName[da]=Oversættelsesværktøj
GenericName[de]=Übersetzungsprogramm
GenericName[el]=Εργαλείο μεταφράσεων
GenericName[eo]=Tradukilo por Qt4-programoj
GenericName[es]=Herramienta de traducción
GenericName[et]=Tõlkimise rakendus
GenericName[eu]=Itzulpenerako tresnak
GenericName[fa]=ابزار ترجمه
GenericName[fi]=Käännöstyökalu
GenericName[fo]=Umsetingaramboð
GenericName[fr]=Outil de traduction
GenericName[fy]=Fertaalprogramma
GenericName[ga]=Uirlis Aistriúcháin
GenericName[gl]=Ferramenta de Tradución
GenericName[he]=כלי תרגום
GenericName[hi]=अनुवाद औज़ार
GenericName[hr]=Alat za prevođenje
GenericName[hsb]=Grat za přełožowanje
GenericName[hu]=Fordítássegítő
GenericName[id]=Kakas Penerjemah
GenericName[is]=Þýðingartól
GenericName[it]=Strumento per le traduzioni
GenericName[ja]=翻訳ツール
GenericName[km]=កម្មវិធី​បកប្រែ
GenericName[ko]=번역 도구
GenericName[lo]=ເຄື່ອງມືແປພາສາ
GenericName[lt]=Vertimo įrankis
GenericName[lv]=Tulkošanas Rīks
GenericName[mk]=Алатка за преведување
GenericName[mn]=Орчуулгын програм
GenericName[ms]=Perkakasan Penterjemahan
GenericName[mt]=Għodda tat-traduzzjoni
GenericName[nb]=Oversettelsesverktøy
GenericName[nds]=Warktüüch för't Översetten
GenericName[nl]=Vertaalprogramma
GenericName[nn]=Omsetjingsverktøy
GenericName[nso]=Sebereka sa Thlathollo
GenericName[pa]=ਅਨੁਵਾਦ ਸੰਦ
GenericName[pl]=Narzędzie dla tłumaczy
GenericName[pt]=Ferramenta de Tradução
GenericName[pt_BR]=Ferramenta de Tradução
GenericName[ro]=Utilitar de traducere
GenericName[ru]=Переводчик для Qt4
GenericName[se]=Jorgalanreaidu
GenericName[sk]=Prekladací nástroj
GenericName[sl]=Orodje za prevajanje
GenericName[sr]=Алат за превођење
GenericName[sr@Latn]=Alat za prevođenje
GenericName[ss]=Lithulusi lekuhumusha
GenericName[sv]=Översättningsverktyg
GenericName[ta]=மொழிபெயர்ப்புக் கருவி
GenericName[tg]=Тарҷумагар барои QT
GenericName[th]=เครื่องมือแปลภาษา
GenericName[tr]=Çeviri Aracı
GenericName[tt]=Tärcemäläw Qoralı
GenericName[uk]=Засіб для перекладів
GenericName[uz]=Таржима қилиш воситаси
GenericName[ven]=Zwishumiswa zwau Dologa
GenericName[vi]=Công cụ dịch
GenericName[wa]=Usteye di ratournaedje
GenericName[xh]=Isixhobo Soguqulelo lomsebenzi kolunye ulwimi
GenericName[zh_CN]=翻译工具
GenericName[zh_TW]=翻譯工具
GenericName[zu]=Ithuluzi Lokuguqulela
X-KDE-StartupNotify=true
MimeType=application/x-linguist;
Terminal=false
Type=Application
Icon=linguist
Categories=Qt;Development;
