[Desktop Entry]
Encoding=UTF-8
Name=rpCalc
Comment=RPN Calculator
Comment[tr]=RPN Hesap Makinesi
Comment[de]=RPN Calculator
GenericName=RPN Calculator
GenericName[tr]=RPN Hesap Makinesi
GenericName[de]=RPN Calculator
Exec=rpcalc
Icon=/usr/share/icons/rpcalc/calc_lg.png
Terminal=false
Type=Application
Categories=Application;Science;Math;
