[Desktop Entry]
Type=Application
Version=1.0
Name=Dolphin
GenericName=Gamecube and Wii Emulator
GenericName[tr]=Gamecube ve Wii Emülatörü
Comment=A Gamecube and Wii emulator
Comment[tr]=Bir Gamecube ve Wii emülatörü
Icon=dolphin-emu
Exec=dolphin-emu
Terminal=false
StartupNotify=false
Categories=Application;Game;Emulator;
