[Desktop Entry]
Name=skrooge
Name[ca]=skrooge
Name[ca@valencia]=skrooge
Name[cs]=skrooge
Name[da]=skrooge
Name[en_GB]=skrooge
Name[eo]=skrooge
Name[es]=skrooge
Name[it]=Skrooge
Name[nb]=skrooge
Name[nds]=Skrooge
Name[nl]=skrooge
Name[pt]=skrooge
Name[pt_BR]=Skrooge
Name[ro]=skrooge
Name[sv]=Skrooge
Name[tr]=skrooge
Name[uk]=Skrooge
Name[x-test]=xxskroogexx
Exec=skrooge %U
Icon=skrooge
Type=Application
GenericName=Manage your money under KDE4
GenericName[ca]=Gestioneu el vostre diner sota KDE4
GenericName[ca@valencia]=Gestioneu el vostre diner sota KDE4
GenericName[cs]=Spravujte své peníze v KDE 4
GenericName[da]=Hav styr på dine penge under KDE4
GenericName[en_GB]=Manage your money under KDE4
GenericName[eo]=Mastrumi vian monon per KDE4
GenericName[es]=Gestione su dinero desde KDE4
GenericName[it]=Gestisci il tuo denaro con KDE4
GenericName[nb]=Hold styr på dine penger i KDE4
GenericName[nds]=Geldpleeg mit KDE4
GenericName[nl]=Uw geld beheren onder KDE4
GenericName[pt]=Faça a gestão do seu dinheiro no KDE4
GenericName[pt_BR]=Gerencie seu dinheiro no KDE4
GenericName[sv]=Hantera din ekonomi med KDE4
GenericName[tr]=Finans Yöneticisi
GenericName[uk]=Керуйте вашими грошима у KDE4
GenericName[x-test]=xxManage your money under KDE4xx
Terminal=false
X-KDE-StartupNotify=true
Categories=Qt;KDE;Office;
MimeType=application/x-skg;
X-DBUS-StartupType=Unique
