[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=PPracer Multiplayer
Name[tr]=PPracer İki Kişilik
GenericName=Race on ICE Multiplayer
GenericName[tr]=Buz Yarışı İki Kişilik
Icon=ppracer
Exec=ppracer --multiplayer
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame;
