[Desktop Entry]
Encoding=UTF-8
Name=PyMOL
GenericName=Molecular Graphics Application
GenericName[tr]=Moleküler Grafik Uygulaması
Comment=Generate high-quality molecular graphics images and animations
Comment[tr]=Yüksek kalitede moleküler resimler ve animasyonlar üretin
Exec=pymol
Icon=pymol-32
Terminal=false
Type=Application
Categories=Graphics;Education;Science;
