#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Blobby-Volley
Name[tr]=Blobby Voleybol
GenericName=Volleyball Game
GenericName[tr]=Voleybol Oyunu
Icon=blobby
Exec=blobby
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame;
