[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Kobo Deluxe
Name[tr]=Kobo Deluxe
GenericName=Shoot'em Up Game
GenericName[tr]=Uzay Savaşı Oyunu
Icon=kobodl
Exec=kobodl
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame;
