[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Loose Cannon
Name[tr]=Loose Cannon
GenericName=Space Adventure
GenericName[tr]=Uzay Macerası
Icon=/usr/share/loosecannon/pics/smg.png
Exec=loosecannon
Terminal=false
StartupNotify=false
Categories=Application;Game;ActionGame;
