[Desktop Entry]
Exec=/usr/sbin/mdm

X-Pardus-PlymouthTransition=true
X-Pardus-XCursorTheme=Oxygen_White

GenericName=mdm Login Manager
GenericName[tr]=mdm Giriş Yöneticisi
