[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Pingus
Name[tr]=Pingus
GenericName=Free Pingus
GenericName[tr]=Penguen Kurtarma
Comment=Lemmings Inspired Puzzle Game
Comment[tr]=Lemmings Tarzı Zeka Oyunu
Icon=pingus
Exec=pingus
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame;
