#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Plex Media Manager Starter
GenericName=Media Manager Starter
GenericName[tr]=Media Manager Başlatıcısı
Comment=Manage your Plex Media
Comment[tr]=Plex Media managerin Başlatıcısı
Exec=start_pms
Icon=plexstart
Terminal=false
Type=Application
Categories=AudioVideo
