[Desktop Entry]
Name=rasta
Name[tr]=rasta
GenericName=Rst Editor
GenericName[tr]=Rst Düzenleme aracı
Comment=Live view supported Qt4 based Webkit integrated Rst editor
Comment[tr]=Qt4 tabanlı, anlık önizleme destekli Rst düzenleme editörü
Icon=rasta
Exec=rasta
Terminal=false
Type=Application
Categories=Qt;Utility;TextEditor;
