[Desktop Entry]
Name=Fritzing
GenericName=Fritzing
GenericName[tr]=Fritzing
Comment=Electronic Design Automation software
Comment[tr]=Elektronik tasarım yazılımı
Exec=Fritzing
Icon=fritzing
Terminal=false
Type=Application
Categories=Development;IDE;Electronics;