#!/usr/bin/env xdg-open
[Desktop Entry]
Encoding=UTF-8
Name=ImageJ
Comment=Image Processing and Analysis in Java
Comment[tr]=Java ile Görüntü İşleme ve Analizi
Comment[fr]=Traitement d'Image et Analyse en Java
GenericName=Image Processing/Analysis Tool
GenericName[tr]=Görüntü İşleme/Analiz Aracı
GenericName[fr]=Outil de Traitement/Analyse d'Image
Exec=ImageJ
Icon=ImageJ.png
Terminal=false
Type=Application
Categories=Application;Graphics;Java;
