[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=dvd::rip
GenericName=DVD copy program
GenericName[tr]=DVD kopyalama yazılımı
Comment=A full featured DVD copy program
Comment[tr]=Tüm özelliklere sahip DVD kopyalama yazılımı
Type=Application
Exec=dvdrip
Icon=/usr/share/pixmaps/dvdrip.png
Categories=AudioVideo;Video;
