[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=WoP
Name[tr]=WoP
GenericName=Multiprocessor
GenericName[tr]=Çok İşlemci Destekli
Icon=/usr/share/pixmaps/wop.png
Exec=WoP-smp
Terminal=false
StartupNotify=false
Categories=Application;Game;ActionGame;
