[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=WoP
Name[tr]=WoP
GenericName=World of Padman
GenericName[tr]=Padman Dünyası
Icon=wop.png
Exec=WoP
Terminal=false
StartupNotify=false
Categories=Application;Game;ActionGame;
