[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Warsow
Name[tr]=Warsow
GenericName=Warsow
GenericName[tr]=Warsow
Icon=warsow
Exec=warsow
Terminal=false
StartupNotify=false
Categories=Application;Game;ActionGame;
