[Desktop Entry]
Type=Application
Name=Keyboard and Mouse
Name[tr]=Girdi Aygıtları
GenericName=Input settings
Comment=Configure keyboard, mouse, and other input devices
Comment[tr]=Klavye, fare ve diğer girdi aygıtlarını yapılandırın
Exec=lxqt-config-input
Icon=input-keyboard
Categories=Qt;Settings;HardwareSettings;DesktopSettings;LXQt;
OnlyShowIn=LXQt;

Comment[ru_RU]=Настроить клавиатуру, мышь и доругие устройства ввода
Name[ru_RU]=Клавиатура и мышь
GenericName[ru_RU]=Настройки ввода
Name[ja]=キーボードとマウス
GenericName[ja]=入力の設定
Comment[ja]=キーボードやマウス、その他の入力デバイスの設定
Name[de]=Tastatur und Maus
GenericName[de]=Eingabegerätekonfiguration
Comment[de]=Tastatur, Maus und andere Eingabegeräte konfigurieren
Comment[ru]=Настроить клавиатуру, мышь и доругие устройства ввода
Name[ru]=Клавиатура и мышь
GenericName[ru]=Настройки ввода
Name[pt]=Teclado e rato
GenericName[pt]=Definições de introdução
Comment[pt]=Configuração do rato, teclado e outros dispositivos de introdução
