[Desktop Entry]
Type=Application
Name=Monitor settings
Name[tr]=Ekran Ayarları
GenericName=Monitor settings
Comment=Configure monitors
Comment[tr]=Ekranı Yapılandır
Exec=lxqt-config-monitor
Icon=preferences-desktop-display
Categories=Settings;DesktopSettings;Qt;LXQt;HardwareSettings;
OnlyShowIn=LXQt;

Comment[ru]=Настроить мониторы
Name[ru]=Настройки монитора
GenericName[ru]=Настройки монитора
Name[de]=Bildschirmeinstellungen
GenericName[de]=Bildschirmeinstellungen
Comment[de]=Bildschirmauflösung und externe Monitore konfigurieren
Comment[zh_TW]=設定螢幕
GenericName[zh_TW]=螢幕設定
Name[zh_TW]=LXQt螢幕設定
Name[pt]=Definições do monitor
GenericName[pt]=Definições do monitor
Comment[pt]=Configuração de monitores
Comment[ru_RU]=Настроить мониторы
Name[ru_RU]=Настройки монитора
GenericName[ru_RU]=Настройки монитора
Name[ja]=モニターの設定
GenericName[ja]=モニターの設定
Comment[ja]=モニターの設定
