[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Frozen Bubble
Name[tr]=Frozen Bubble
GenericName=Frozen Bubble
GenericName[tr]=Frozen Bubble
Icon=frozen-bubble
Exec=frozen-bubble
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame;
