[Desktop Entry]
Encoding=UTF-8
Name=MDB Database Explorer
Name[tr]=MDB Veritabanı Görüntüleyici
Comment=Explorer for your MDB database files
Comment[tr]=MDB veritabanı dosyalarınız için görüntüleyici
Icon=server-database.png
Exec=gmdb2
Terminal=false
Type=Application
Categories=Development;
