[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Dillo Web Browser
Name[tr]=Dillo Web Tarayıcısı
Icon=dillo
Exec=dillo
Terminal=false
StartupNotify=false
Categories=Application;Network;

