[Desktop Entry]
Type=Application
Version=1.0
Name=Violetland
Comment=Shoot em' up game where a girl, Violet, struggles with hordes of monsters.
Comment[es]=Juego de tiros donde una chica, Violet, se enfrenta a hordas de monstruos.
Comment[gl]=Xogo de tiros onde unha moza, Violet, enfróntase a hordas de monstros.
Comment[ru]=Девушка по имени Вайлет сражается с полчищами монстров
Icon=/usr/share/violetland/icon-light.png
TryExec=violetland
Exec=violetland
Terminal=false
Categories=Game;ActionGame;
