[Desktop Entry]
Categories=Qt;KDE;AudioVideo;
Comment[en_US]=
Comment=
Exec=python /usr/bin/cute-giraffe
GenericName[en_US]=Qt Video/Audio/Image Encoder
GenericName=Qt Video/Audio/Image Encoder
GenericName[tr]=Video/Ses/Resim Dönüştürücü
Icon=cute-giraffe
MimeType=
Name[en_US]=Cute Giraffe
Name=Cute Giraffe
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
Version=1.0
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
