[Desktop Entry]
Encoding=UTF-8
Exec=/usr/lib/qt4/bin/designer
Name=Qt4 Designer
Name[af]=Qt4 Ontwerper
Name[ar]=مصمم Qt4
Name[bn]=কিউ-টি ডিসাইনার
Name[br]=Ergrafer Qt4
Name[ca]=Dissenyador Qt4
Name[cs]=Qt4 designer
Name[cy]=Dylunydd Qt4
Name[de]=Qt4-Designer
Name[eo]=Qt4-Desegnilo
Name[es]=Diseñador Qt4
Name[eu]=Qt4 diseinatzailea
Name[fa]=Qt4 طراح
Name[gl]=Deseñador de Qt4
Name[hi]=क्यूटी डिज़ाइनर
Name[hr]=Qt4 Dizajner
Name[hsb]=Qt4 designer
Name[is]=Qt4 hönnuðurinn
Name[it]=Designer Qt4
Name[ja]=Qt4 デザイナー
Name[km]=កម្មវិធី​រចនា Qt4
Name[ko]=Qt4 디자이너
Name[lo]=ອອກແບບສ່ວນຕິດຕໍ່ຜູ້ໃຊ້ສຳຫັລບ Qt4
Name[lv]=Qt4 Dizainers
Name[mk]=Qt4-Дизајнер
Name[mn]=Qt4-Дизайнер
Name[ms]=Pembantu Qt4
Name[mt]=Diżinjatur Qt4
Name[nds]=Qt4-Designer
Name[nso]=Mohlami wa Qt4
Name[oc]=Dessinador Qt4
Name[pa]=Qt4 ਡਿਜ਼ਾਈਨਰ
Name[rw]=Umuhanzi Qt4
Name[sl]=Snovalnik Qt4
Name[ss]=Umhleli weQt4 
Name[sv]=Qt4 designer
Name[ta]=Qt4 வடிவமைப்பாளர்
Name[tg]=Тароҳи Qt4
Name[th]=ออกแบบส่วนติดต่อผู้ใช้สำหรับ Qt4
Name[tr]=Qt4 Tasarımcı
Name[tt]=Qt4 Tözüçe
Name[uk]=Дизайнер Qt4
Name[uz]=Qt43 дизайнер
Name[ven]=Qt4 Mufhati
Name[vi]=Trình thiết kế Qt4
Name[xh]=Umyili we Qt4
Name[zh_CN]=Qt4 设计器
Name[zh_TW]=Qt4 設計師
Name[zu]=Umakhi we-Qt4
GenericName=Interface Designer
GenericName[af]=Koppelvlak Ontwerper
GenericName[ar]=مصمم واجهات إستخدام
GenericName[az]=Ara Üz Tərtibçisi
GenericName[bn]=ইন্টারফেস পরিকল্পনা
GenericName[br]=Ergrafer etrefas
GenericName[bs]=Qt4 alat za dizajniranje interfejsa
GenericName[ca]=Dissenyador d'interfícies
GenericName[cs]=Návrhář rozhraní
GenericName[cy]=Dylunydd Rhyngwyneb
GenericName[da]=Grænsefladedesigner
GenericName[de]=Schnittstellendesigner
GenericName[el]=Σχεδιαστής διασυνδέσεων
GenericName[eo]=Interfacdesegnilo
GenericName[es]=Diseñador de interfaces
GenericName[et]=Kasutajaliidese disainer
GenericName[eu]=Interfaze diseinatzailea
GenericName[fa]=طراح واسط
GenericName[fi]=Käyttöliittymäsuunnittelija
GenericName[fo]=Nýtaramótssniðari
GenericName[fr]=Concepteur d'interface
GenericName[fy]=Ynterface-ûntwerper
GenericName[ga]=Dearthóir Comhéadain
GenericName[gl]=Deseñador de Interfaces
GenericName[he]=מעצב ממשקים
GenericName[hi]=इंटरफेस डिज़ाइनर
GenericName[hr]=Dizajner sučelja
GenericName[hu]=Felülettervező
GenericName[id]=Perancang Antarmuka
GenericName[is]=Viðmótshönnun
GenericName[it]=Disegnatore di interfacce
GenericName[ja]=インターフェースデザイナー
GenericName[km]=កម្មវិធី​រចនា​ចំណុច​ប្រទាក់
GenericName[ko]=인터페이스 디자이너
GenericName[lo]=ເຄື່ອງມືອອກແບບສ່ວນຕິດຕໍ່ຜູ້ໃຊ້
GenericName[lt]=Sąsajos kūrimo programa
GenericName[lv]=Saskarnes Dizainers
GenericName[mk]=Дизајнер на интерфејси
GenericName[mn]=Гадаргуун дизайнер
GenericName[ms]=Pereka Antaramuka
GenericName[mt]=Diżinjatur tal-interfaċċji
GenericName[nb]=Utforming av grensesnitt
GenericName[nds]=Koppelsteed-Maker
GenericName[nl]=Interface-ontwerper
GenericName[nn]=Utforming av grensesnitt
GenericName[nso]=Mohlami wa Interface
GenericName[pa]=ਇੰਟਰਫੇਸ਼ ਡਿਜ਼ਾਈਨਰ
GenericName[pl]=Projektant interfejsu
GenericName[pt]=Editor de Interfaces
GenericName[pt_BR]=Interface do Designer
GenericName[ro]=Dezvoltator de interfeţe
GenericName[ru]=Редактор интерфейса приложений Qt4
GenericName[rw]=Umuhanzi w'Imigaragarire
GenericName[se]=Laktahábmejeaddji
GenericName[sk]=Návrh rozhrania
GenericName[sl]=Snovalnik vmesnikov
GenericName[sr]=Дизајнер интерфејса
GenericName[sr@Latn]=Dizajner interfejsa
GenericName[ss]=Umhleli wesichumanisi
GenericName[sv]=Gränssnittseditor
GenericName[ta]=முகப்புப் வடிவமைப்பாளர்
GenericName[tg]=Тароҳи робита
GenericName[th]=เครื่องมือออกแบบส่วนติดต่อผู้ใช้
GenericName[tr]=Arayüz tasarım programı
GenericName[tt]=Yözara Tözegeç
GenericName[uk]=Дизайн інтерфейсу
GenericName[uz]=Интерфейс дизайнери
GenericName[ven]=Muvhati wa nga Phanda
GenericName[vi]=Trình thiết kế giao diện
GenericName[wa]=Dessineu d' eterfaces
GenericName[xh]=Umyili Wezojongongano
GenericName[zh_CN]=界面设计器
GenericName[zh_TW]=界面設計師
GenericName[zu]=Umakhi Womxhumanisi
X-KDE-StartupNotify=true
MimeType=application/x-designer;
Icon=designer
Terminal=false
Type=Application
Categories=Qt;Development;
