[Desktop Entry]
Name=Qt4 Demo
Comment=Show Qt4 demos and programming examples
Comment[tr]=Qt4 demolarını ve programlama örneklerini göster
Exec=/usr/lib/qt4/bin/qtdemo
Icon=qt4-logo
Terminal=false
Encoding=UTF-8
Type=Application
Categories=Qt;Development;
