[Desktop Entry]
Encoding=UTF-8
Exec=xdg-open /usr/share/doc/python-docs/html/index.html
Icon=python-logo
Name=Python Docs
Name[tr]=Python Belgeleri
StartupNotify=false
Terminal=false
Type=Application
Categories=Application;Development;
