[Desktop Entry]
Exec=/usr/bin/start-yali
Type=Application
NoDisplay=true
X-Pardus-PlymouthTransition=true
X-Pardus-XCursorTheme=Oxygen_White

Name=YALI
GenericName=Yet Another Linux Installer
