<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns='http://www.w3.org/1999/xhtml' xml:lang='en' lang='en'>
<head>
<title>polkit-kde.git - polkit-kde</title>
<meta name='generator' content='cgit v0.9.1'/>
<meta name='robots' content='index, nofollow'/>
<link rel='stylesheet' type='text/css' href='/cgit-data/cgit.css'/>
<link rel='alternate' title='Atom feed' href='http://pkgs.fedoraproject.org/cgit/polkit-kde.git/atom/polkit-kde-authentication-agent-1.desktop?h=master' type='application/atom+xml'/>
</head>
<body>
<div id='cgit'><table id='header'>
<tr>
<td class='logo' rowspan='2'><a href='/cgit/'><img src='/cgit-data/cgit.png' alt='cgit logo'/></a></td>
<td class='main'><a href='/cgit/'>index</a> : <a title='polkit-kde.git' href='/cgit/polkit-kde.git/'>polkit-kde.git</a></td><td class='form'><form method='get' action=''>
<select name='h' onchange='this.form.submit();'>
<option value='f12'>f12</option>
<option value='f13'>f13</option>
<option value='f14'>f14</option>
<option value='f15'>f15</option>
<option value='f16'>f16</option>
<option value='f17'>f17</option>
<option value='f18'>f18</option>
<option value='master' selected='selected'>master</option>
</select> <input type='submit' name='' value='switch'/></form></td></tr>
<tr><td class='sub'>polkit-kde</td><td class='sub right'>Jesse Keating</td></tr></table>
<table class='tabs'><tr><td>
<a href='/cgit/polkit-kde.git/'>summary</a><a href='/cgit/polkit-kde.git/refs/'>refs</a><a href='/cgit/polkit-kde.git/log/polkit-kde-authentication-agent-1.desktop'>log</a><a class='active' href='/cgit/polkit-kde.git/tree/polkit-kde-authentication-agent-1.desktop'>tree</a><a href='/cgit/polkit-kde.git/commit/polkit-kde-authentication-agent-1.desktop'>commit</a><a href='/cgit/polkit-kde.git/diff/polkit-kde-authentication-agent-1.desktop'>diff</a><a href='/cgit/polkit-kde.git/stats/polkit-kde-authentication-agent-1.desktop'>stats</a></td><td class='form'><form class='right' method='get' action='/cgit/polkit-kde.git/log/polkit-kde-authentication-agent-1.desktop'>
<select name='qt'>
<option value='grep'>log msg</option>
<option value='author'>author</option>
<option value='committer'>committer</option>
<option value='range'>range</option>
</select>
<input class='txt' type='text' size='10' name='q' value=''/>
<input type='submit' value='search'/>
</form>
</td></tr></table>
<div class='path'>path: <a href='/cgit/polkit-kde.git/tree/'>root</a>/<a href='/cgit/polkit-kde.git/tree/polkit-kde-authentication-agent-1.desktop'>polkit-kde-authentication-agent-1.desktop</a></div><div class='content'>blob: d775e619ee8a60bd443f0d522bc81d132791885b (<a href='/cgit/polkit-kde.git/plain/polkit-kde-authentication-agent-1.desktop'>plain</a>)
<table summary='blob content' class='blob'>
<tr><td class='linenumbers'><pre><a class='no' id='n1' name='n1' href='#n1'>1</a>
<a class='no' id='n2' name='n2' href='#n2'>2</a>
<a class='no' id='n3' name='n3' href='#n3'>3</a>
<a class='no' id='n4' name='n4' href='#n4'>4</a>
<a class='no' id='n5' name='n5' href='#n5'>5</a>
<a class='no' id='n6' name='n6' href='#n6'>6</a>
<a class='no' id='n7' name='n7' href='#n7'>7</a>
<a class='no' id='n8' name='n8' href='#n8'>8</a>
<a class='no' id='n9' name='n9' href='#n9'>9</a>
<a class='no' id='n10' name='n10' href='#n10'>10</a>
<a class='no' id='n11' name='n11' href='#n11'>11</a>
<a class='no' id='n12' name='n12' href='#n12'>12</a>
<a class='no' id='n13' name='n13' href='#n13'>13</a>
<a class='no' id='n14' name='n14' href='#n14'>14</a>
<a class='no' id='n15' name='n15' href='#n15'>15</a>
<a class='no' id='n16' name='n16' href='#n16'>16</a>
<a class='no' id='n17' name='n17' href='#n17'>17</a>
<a class='no' id='n18' name='n18' href='#n18'>18</a>
<a class='no' id='n19' name='n19' href='#n19'>19</a>
<a class='no' id='n20' name='n20' href='#n20'>20</a>
<a class='no' id='n21' name='n21' href='#n21'>21</a>
<a class='no' id='n22' name='n22' href='#n22'>22</a>
<a class='no' id='n23' name='n23' href='#n23'>23</a>
<a class='no' id='n24' name='n24' href='#n24'>24</a>
<a class='no' id='n25' name='n25' href='#n25'>25</a>
<a class='no' id='n26' name='n26' href='#n26'>26</a>
<a class='no' id='n27' name='n27' href='#n27'>27</a>
<a class='no' id='n28' name='n28' href='#n28'>28</a>
<a class='no' id='n29' name='n29' href='#n29'>29</a>
<a class='no' id='n30' name='n30' href='#n30'>30</a>
<a class='no' id='n31' name='n31' href='#n31'>31</a>
<a class='no' id='n32' name='n32' href='#n32'>32</a>
<a class='no' id='n33' name='n33' href='#n33'>33</a>
<a class='no' id='n34' name='n34' href='#n34'>34</a>
<a class='no' id='n35' name='n35' href='#n35'>35</a>
<a class='no' id='n36' name='n36' href='#n36'>36</a>
<a class='no' id='n37' name='n37' href='#n37'>37</a>
<a class='no' id='n38' name='n38' href='#n38'>38</a>
<a class='no' id='n39' name='n39' href='#n39'>39</a>
<a class='no' id='n40' name='n40' href='#n40'>40</a>
<a class='no' id='n41' name='n41' href='#n41'>41</a>
<a class='no' id='n42' name='n42' href='#n42'>42</a>
<a class='no' id='n43' name='n43' href='#n43'>43</a>
<a class='no' id='n44' name='n44' href='#n44'>44</a>
<a class='no' id='n45' name='n45' href='#n45'>45</a>
<a class='no' id='n46' name='n46' href='#n46'>46</a>
<a class='no' id='n47' name='n47' href='#n47'>47</a>
<a class='no' id='n48' name='n48' href='#n48'>48</a>
<a class='no' id='n49' name='n49' href='#n49'>49</a>
</pre></td>
<td class='lines'><pre><code>[Desktop Entry]
Name=PolicyKit Authentication Agent
Name[be]=PolicyKit - аґент аўтэнтыфікацыі
Name[ca]=Agent d'autenticació del PolicyKit
Name[cs]=Ověřovací agent PolicyKit
Name[de]=Legitimationsdienst von PolicyKit
Name[en_GB]=PolicyKit Authentication Agent
Name[es]=Agente de autenticación de PolicyKit
Name[eu]=PolicyKit autentifikatzeko agentea
Name[fi]=PolicytKit-tunnistautumisohjelma
Name[fr]=Agent d'authentification de PolicyKit
Name[gl]=Axente de autenticación PolicyKit
Name[hu]=PolicyKit hitelesítési ügynök
Name[it]=Agente di autenticazione per PolicyKit
Name[ja]=PolicyKit 認証エージェント
Name[lt]=PolicyKit tapatybės nustatymo agentas
Name[pa]=ਪਾਲਸੀਕਿੱਟ ਪਰਮਾਣਕਿਤਾ ਏਜੰਟ
Name[pl]=Agent uwierzytelniania PolicyKit
Name[pt]=Agente de Autenticação PolicyKit
Name[pt_BR]=Agente de autenticação PolicyKit
Name[sv]=Autentiseringsagent för PolicyKit
Name[zh_CN]=PolicyKit 认证助手
Comment=PolicyKit Authentication Agent
Comment[be]=PolicyKit - аґент аўтэнтыфікацыі
Comment[ca]=Agent d'autenticació del PolicyKit
Comment[cs]=Ověřovací agent PolicyKit
Comment[de]=Legitimationsdienst von PolicyKit
Comment[en_GB]=PolicyKit Authentication Agent
Comment[es]=Agente de autenticación de PolicyKit
Comment[eu]=PolicyKit autentifikatzeko agentea
Comment[fi]=PolicytKit-tunnistautumisohjelma
Comment[fr]=Agent d'authentification de PolicyKit
Comment[gl]=Axente de autenticación PolicyKit
Comment[hu]=PolicyKit hitelesítési ügynök
Comment[it]=Agente di autenticazione per PolicyKit
Comment[ja]=PolicyKit 認証エージェント
Comment[lt]=PolicyKit tapatybės nustatymo agentas
Comment[pa]=ਪਾਲਸੀਕਿੱਟ ਪਰਮਾਣਕਿਤਾ ਏਜੰਟ
Comment[pl]=Agent uwierzytelniania PolicyKit
Comment[pt]=Agente de Autenticação PolicyKit
Comment[pt_BR]=Agente de autenticação PolicyKit
Comment[sv]=Autentiseringsagent för PolicyKit
Comment[zh_CN]=PolicyKit 认证助手
Exec=/usr/libexec/kde4/polkit-kde-authentication-agent-1
Terminal=false
Type=Application
Categories=
X-Desktop-File-Install-Version=0.15
OnlyShowIn=KDE
</code></pre></td></tr></table>
</div> <!-- class=content -->
<div class='footer'>generated  by cgit v0.9.1 at 2012-12-12 07:14:58 (GMT)</div>
</div> <!-- id=cgit -->
</body>
</html>
