[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Crack Attack!
Name[tr]=Crack Attack!
GenericName=3D Tetris like game
GenericName[tr]=3B Tetris benzeri
Icon=crack-attack.xpm
Exec=crack-attack
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame;
