[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Tomatoes
Name[tr]=Domatesler
GenericName=I Have No Tomatoes
GenericName[tr]=Domatesim Kalmadı
Icon=tomatoes
Exec=tomatoes
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame;
