[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Freecad
Name[tr]=Freecad
GenericName=3D CAD/CAE program
GenericName[tr]=3D CAD/CAE programı
Icon=freecad
Exec=FreeCAD
Terminal=false
StartupNotify=false
Categories=Application;Science;Math;Education;
