[Desktop Entry]
Name=Display Manager
Name[tr]=Görüntü Yöneticisi
Name[es]=Administrador de Pantallas
Name[nl]=Beeldscherm beheer
Name[de]=Anzeige-Manager
GenericName=Display Configuration Tool
GenericName[tr]=Ekran Yapılandırma Aracı
GenericName[es]=Herramienta para la Configuración de Pantallas
GenericName[nl]=Beeldscherm configuratie gereedschap
GenericName[de]=Anzeigekonfigurationstool
Type=Application
Icon=gnome-display-properties
Exec=display-manager
Categories=GTK;GNOME;System;Settings
OnlyShowIn=GNOME;
