[Desktop Entry]
Name=User Manager
Name[tr]=Kullanıcı Yöneticisi
Name[nl]=Gebruikersbeheer
Name[es]=Agregar y Eliminar Usuario
Name[de]=Benutzer-Manager
Name[pt_BR]=Gerenciador de Usuários
Name[fr]=Gestionnaire d'Utilisateurs
Name[it]=Gestione degli utenti
X-KDE-ModuleType=Library
X-KDE-Library=user-manager
X-KDE-FactoryName=user_manager
X-Tasma-Fork=true
Type=Application
Icon=kuser
Exec=user-manager
Categories=GNOME;GTK;System;Settings;
OnlyShowIn=GNOME;
