[Desktop Entry]
Name=gnubg
Comment=GNU Backgammon
Comment[tr]=GNU Tavla
Exec=gnubg
Terminal=false
Type=Application
Icon=gnubg-big
Categories=Application;Game;Board;
 
