[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Magicor
Name[tr]=Magicor
GenericName=Puzzle Game
GenericName[tr]=Zeka Oyunu
Icon=magicor
Exec=magicor
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame;
