[Desktop Entry]
Encoding=UTF-8
Name=gVim
GenericName[en]=Gvim Text Editor
GenericName[tr]=Gvim Metin Düzenleyici
Comment[en]=A highly configurable text editor
Comment[tr]=Özelleştirilebilir metin düzenleyici
Exec=/usr/bin/gvim -f
Icon=/usr/share/pixmaps/gvim.xpm
Terminal=false
Type=Application
MimeType=text/css;text/html;text/htmlh;text/plain;text/rss;text/sgml;text/x-adasrc;text/x-authors;text/x-c++hdr;text/x-c++src;text/x-copying;text/x-credits;text/x-csharp;text/x-csrc;text/x-dtd;text/x-fortran;text/x-gettext-translation-template;text/x-gettext-translation;text/x-gtkrc;text/x-haskell;text/x-idl;text/x-install;text/x-java;text/x-js;text/x-ksh;text/x-ksysv-log;text/x-literate-haskell;text/x-log;text/x-makefile;text/x-moc;text/x-msil;text/x-nemerle;text/x-objcsrc;text/x-pascal;text/x-patch;text/x-readme;text/x-scheme;text/x-setext;text/x-sql;text/x-tcl;text/x-tex;text/x-texinfo;text/x-troff-me;text/x-troff-mm;text/x-troff-ms;text/x-uil;text/x-vb;text/xml;
Categories=Application;TextEditor;
