[Desktop Entry]
Comment=A dynamic mathematics software that joins geometry, algebra and calculus
Comment[tr]= Geometri, cebir ve hesap işlerini bir araya getiren dinamik bir matematik uygulaması
Exec=geogebra
GenericName=Scientific Software Package
GenericName[tr]=Bilimsel Matematik Uygulaması
Icon=geogebra.png
Name=geogebra
Name[tr]=geogebra
StartupNotify=false
Terminal=false
Type=Application
Categories=Education;Science;Math;Engineering;

