[Desktop Entry]
Type=Application
Exec=indywiki
Icon=indywiki
Name=Indywiki
GenericName=Wikipedia Search Interface
GenericName[tr]=Wikipedia Arama Arayüzü
Terminal=false
Encoding=UTF-8
Categories=PyQt;Application;Network;
 
