#!/usr/bin/env xdg-open
[Desktop Entry]
Name=pisilinux-dnsmasq
GenericName=Dns change program
GenericName[tr]=Dns değiştirme programı
Exec=lxterminal --title="pisilinux-dnsmasq" --geometry=80x26 -e pisilinux-dnsmasq
Icon=pisi-dnsmasq
Type=Application
Categories=Application;Network;
StartupNotify=true