[Desktop Entry]
Version=1.0
Comment=Edit image files from a digital camera
Comment[tr]=Dijital fotoğraflarınızı düzenleyin
Exec=fotoxx
GenericName=Digital Image Editor
GenericName[tr]=Dijital fotoğraf düzenleyici
Icon=fotoxx
Name=Fotoxx
Type=Application
StartupNotify=True
Categories=Application;Graphics;2DGraphics;GTK;
