[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=whichwayisup
Name[tr]=whichwayisup
GenericName=A traditional and challenging 2D platformer game with a slight rotational twist
GenericName[tr]=Hafif baş döndürücü, geleneksel ve dürtücü bir 2B platform oyunu
Comment=Help a mysterious big-eared salaryman named Guy find his keys in a labyrinth of dangers and badly written dialogue.
Comment[tr]=Guy adlı gizemli iş adamının tehlikeler labirenti içerisinde anahtarlarını aramasına yardımcı olun.
Icon=whichwayisup
Exec=whichwayisup
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame;
