[Desktop Entry]
Encoding=UTF-8
Type=Application
Icon=system-file-manager
Name=PCManFM File Manager
GenericName=File Manager
GenericName[tr]=Dosya Yöneticisi
Comment=Browse the file system and manage the files
Comment[tr]=Dosya sistemine göz atın ve dosyaları yönetin
Categories=FileManager;Utility;Core;Qt;
Exec=/usr/bin/pcmanfm-qt %U
StartupNotify=true
Terminal=false
MimeType=inode/directory;
NotShowIn=GNOME;XFCE;KDE;