[Desktop Entry]
Encoding=UTF-8
Name=Power Management
Name[tr]=Güç Yönetimi
Comment=Power Management Settings
Comment[tr]=Güç Yönetimi Ayarları
GenericName=Power Management Settings
GenericName[tr]=Güç Yönetimi Ayarları
Exec=lxqt-config-powermanagement
Icon=preferences-system-power-management
StartupNotify=false
Terminal=false
Type=Application
Categories=Settings;DesktopSettings;Qt;LXQt;
OnlyShowIn=LXQt;LXDE;
