[Desktop Entry]
Name=MediaTomb
Comment=MediaTomb web user interface
Comment[tr]=MediaTomb Yonetim Arayuzu
Exec=/usr/bin/xdg-open /var/lib/mediatomb/mediatomb.html
Icon=/usr/share/mediatomb/web/icons/mediatomb.png
Terminal=false
Type=Application
StartupNotify=false
Categories=AudioVideo;
