[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=FOTAQ
Name[tr]=FOTAQ
GenericName=Flight of the Amazon Queen
GenericName[tr]=Flight of the Amazon Queen
Icon=queen
Exec=queen
Terminal=false
StartupNotify=false
Categories=Application;Game;AdventureGame;
