#!/usr/bin/env xdg-open
[Desktop Entry]
Encoding=UTF-8
Exec=acreloaded
Icon=acreloaded
Type=Application
Terminal=false
MultipleArgs=false
Name=AssaultCubeReloaded
GenericName=Realistic Multiplayer FPS
MimeType=text/html
StartupNotify=false
Categories=Game;ActionGame;
