[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Dropbox
GenericName=Dropbox Client
GenericName[tr]=Dropbox İstemcisi
Comment=Sync your files across computers and to the web
Comment[tr]=Dosyalarınızı her yerden eşzamanlayın
Icon=dropbox
Exec=/opt/dropbox/dropboxd
Terminal=false
StartupNotify=false
Categories=Application;Network;
