[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Goonies
Name[tr]=Goonies
GenericName=Platform Game
GenericName[tr]=Platform Oyunu
Icon=goonies
Exec=goonies
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame;
