[Desktop Entry]
Name=Mumble 1.1X
GenericName=Mumble (compatibility mode for 1.1X)
GenericName[tr]=Mumble (1.1 serisi için uyumluluk kipi)
Comment=Voice chat application (compatibility mode for 1.1X)
Comment[tr]=Sesli görüşme uygulaması (1.1 serisi için uyumluluk kipi)
Exec=mumble11x
Icon=mumble
Terminal=false
Type=Application
Categories=Network;Chat;
