[Desktop Entry]
Exec=/usr/bin/xdm
Icon=xorg
Type=Application
X-Pardus-XCursorTheme=Jimmac

Name=XDM
GenericName=X Login Manager
GenericName[tr]=X Giriş Yöneticisi
