[Desktop Entry]
Name=Mixxx
Exec=pasuspender mixxx
Comment=Open source DJ tool
Comment[tr]=Açık kaynaklı DJ aleti
Encoding=UTF-8
GenericName=Digital DJ Interface
GenericName[tr]=Sayısal DJ Arayüzü
Icon=mixxx-icon
Categories=Qt;Application;AudioVideo;
StartupNotify=true
Terminal=0
Type=Application
