[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Supertuxkart
Name[tr]=Supertuxkart
GenericName=Gokart with Tux
GenericName[tr]=Tux Gokart
GenericName[de]=Ein Kart-Rennspiel
GenericName[fr]=Un jeu de karting
GenericName[gl]=Xogo de carreiras con karts
GenericName[ro]=Un joc de curse cu carturi
Icon=supertuxkart
Exec=supertuxkart
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame;
