[Desktop Entry]
Name=LASH Panel
GenericName=LASH Control Panel
GenericName[tr]=LASH Kontrol Paneli
Comment=LASH Control Panel
Comment[tr]=LASH Kontrol Paneli
Categories=Application;AudioVideo;
Icon=lash.png
Exec=/usr/bin/lash_panel
Terminal=false
Type=Application
