[Desktop Entry]
Type=Application
Name=About LXQt
Name[tr]=LXQt Hakında
GenericName=About LXQt
Comment=Learn more about LXQt
Comment[tr]=LXQt hakkında daha fazlasını öğren
Exec=lxqt-about
Icon=help-about
Categories=Help;LXQt
OnlyShowIn=LXQt;LXDE;

GenericName[fr]=À propos de LXQt
Name[fr]=À propos de LXQt
GenericName[ja]=LXQtについて
Name[ja]=LXQtについて
GenericName[ru]=Узнать больше о LXQt
Name[ru]=О LXQt
Name[pt]=Sobre o LxQt
GenericName[pt]=Sobre o LxQt
Comment[pt]=Saber mais sobre o LxQt
