[Desktop Entry]
Encoding=UTF-8
Name=Lazarus
GenericName=Integrated Development Environment for Pascal
GenericName[tr]=Pascal için Tümleşik Geliştirme Ortamı
Exec=lazarus "%f"
Type=Application
Icon=lazarus.png
Categories=Application;Development;IDE;
StartupWMClass=Lazarus
MimeType=text/x-pascal;
