[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Lincity-NG
Name[tr]=Lincity-NG
Name[de]=Lincity-NG
GenericName=City Simulation Game
GenericName[tr]=Şehir Simulasyonu
GenericName[de]=Stadtsimulationsspiel
Icon=lincity-ng
Exec=lincity-ng
Terminal=false
StartupNotify=false
Categories=Application;Game;Simulation;
