[Desktop Entry]
Name=rxvt-unicode
GenericName=Terminal Programı
GenericName[tr]=Uçbirim Programı
Comment=Small X11 terminal
Comment[tr]=X11 uçbirimi
Exec=/usr/bin/urxvt
Categories=System;TerminalEmulator;
Icon=utilities-terminal
StartupNotify=true
Terminal=false
Type=Application
