[Desktop Entry]
Name=WinFF
GenericName=Video Editor
GenericName[tr]=Video Düzenleyici
Comment=GUI for FFMPEG
Comment[tr]=FFMPEG için arayüz
Exec=winff
Icon=winff.png
Terminal=false
Type=Application
Categories=Application;AudioVideo;AudioVideoEditing;
