[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Quasselclient
Name[tr]=Quasselclient
GenericName=IRC Client
GenericName[tr]=IRC İstemcisi
Exec=quasselclient
Icon=quassel
Terminal=false
Categories=Application;Qt;Network;IRCClient;Internet;

