[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=HandBrake
Name[tr]=HandBrake
GenericName=HandBrake
GenericName[tr]=HandBrake
Comment=Multithreaded video transcoder
Comment[tr]=Multithreaded video transcoder
Icon=HandBrake
Exec=HandBrake
Terminal=false
StartupNotify=false
Categories=Application;Game;
