[Desktop Entry]
Version=1.0
Type=Application
Name=fretsonfire
Name[tr]=fretsonfire
GenericName=Great Guitar Hero Clone
GenericName[tr]=Müthiş bir Guitar Hero Klonu
Exec=fretsonfire
Encoding=UTF-8
Icon=fretsonfire
Categories=Game;ArcadeGame;
Terminal=false
StartupNotify=false
