[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Egoboo
Name[tr]=Egoboo
GenericName=FRP with Fun
GenericName[tr]=Eğlenceli FRP Oyunu
Icon=egoboo
Exec=egoboo
Terminal=false
StartupNotify=false
Categories=Application;Game;RolePlaying;
