[Desktop Entry]
Type=Application
Version=1.0
Name=Hedgewars
GenericName=Worms-Like Strategy Game
GenericName[tr]=Worms Benzeri Strateji Oyunu
Icon=hedgewars
Exec=hedgewars
Terminal=false
StartupNotify=false
Categories=Game;StrategyGame;
