[Desktop Entry]
Version=1.0
Terminal=false
Icon=clustalx
Exec=clustalx
Name=Clustal X
GenericName=Alignment and phylogeny
GenericName[de]=Alignment und Phylogenie
GenericName[en]=Alignment and phylogeny
GenericName[fr]=Alignement et phylogénèse
GenericName[pt_BR]=Alinhamento e filogenia
GenericName[tr]=Protein ve DNA dizin hizalama
Comment=Global multiple nucleotide or peptide sequence alignment and phyolgenetic analysis
Comment[de]=Globales multiples Nucleotid- oder Peptid-Sequenzalignment and phylogenetische Analyse
Comment[en]=Global multiple nucleotide or peptide sequence alignment and phylogenetic analysis
Comment[fr]=Alignement global de séquences peptidiques ou nucléotidiques et analyse phylogénétique
Comment[pt_BR]=Alinhamento global de sequências peptídicas ou nucleotídeos e análise filogenética
Comment[tr]=Genel amaçlı bir çoklu protein veya DNA dizin hizalanma grafik kullanıcı arayüzü yazılımı
Type=Application
Categories=Biology;Science;Education;
MimeType=text/x-clustalw-alignment;

