[Desktop Entry]
Encoding=UTF-8
Name=Neverputt
Name[tr]=Neverputt
Type=Application
GenericName=3D Minigolf Game
GenericName[tr]=3B Golf Oyunu
Exec=neverputt
Icon=neverputt
Categories=Game;ArcadeGame;
