[Desktop Entry]
Name=Logical Volume Management
Name[ar]=إدارة وحدات التخزين المنطقية
Name[as]=লজিকেল আয়তন পৰিচালনা
Name[bg]=Управление на логически томове
Name[bn]=লজিকাল ভলিউম পরিচালনা
Name[bn_IN]=লজিক্যাল ভলিউম পরিচালনা
Name[bs]=Upravljanje logičkim volumenima
Name[ca]=Gestió de volum lògic
Name[cs]=Správa logických svazků
Name[da]=Håndtering af logiske delarkiver
Name[de]=Logische Datenträgerverwaltung (LVM)
Name[en_GB]=Logical Volume Management
Name[es]=Administración de Volúmenes Lógicos
Name[et]=Loogilise ruumi haldamine
Name[fa]=مدیریت جلد منطقی
Name[fi]=Looginen taltioiden hallinta
Name[fr]=Gestionnaire de volumes logiques
Name[gu]=લોજીકલ વોલ્યુમ વ્યવસ્થાપન
Name[hi]=लॉजिकल वॉल्यूम प्रबंधन
Name[hr]=Upravljanje logičkim volumenima
Name[hu]=Logikai kötetkezelés
Name[id]=Manajemen Volume Logikal
Name[is]=Umsýsla sýndardiska
Name[it]=Gestione Volumi Logici
Name[ja]=論理ボリューム管理
Name[kn]=ತಾರ್ಕಿಕ ಪರಿಮಾಣ ನಿರ್ವಹಣೆ
Name[ko]=논리적인 볼륨 관리
Name[mai]=लाजिकल वाल्यूम प्रबंधन
Name[mk]=Менаџмент за логички простор
Name[ml]=ലോജിക്കല്‍ വോള്യം മാനേജ്മന്‍റ്
Name[mr]=तर्कदृष्ट्या खंड व्यवस्थापन
Name[ms]=Pengurusan Volum Logikal
Name[nb]=Håndtering av logiske volum
Name[nl]=Logical Volume Management
Name[or]=ତାର୍କିକ ଘନଫଳ ର ପରିଚାଳନା
Name[pa]=ਲਾਜ਼ੀਕਲ ਵਾਲੀਅਮ ਪ੍ਰਬੰਧਨ
Name[pl]=Zarządzanie woluminami logicznymi
Name[pt]=Gestão de Volumes Lógicos
Name[pt_BR]=Gerenciador de Volumes Lógicos (LVM)
Name[ru]=Управление логическими томами
Name[si]=තාර්කික පරිමා කළමනාකරණය
Name[sk]=Správa logických zväzkov
Name[sr]=Управљање логичким дисковима (LVM)
Name[sr@latin]=Upravljanje logičkim diskovima (LVM)
Name[sv]=Hantering av logiska volymer
Name[ta]=லாஜிகல் வால்யூம் மேலாண்மை
Name[te]=తార్కిక వాల్యూం నిర్వహణ
Name[tr]=Mantıksal Hacim Yönetimi
Name[uk]=Керування логічними томами
Name[zh_CN]=逻辑卷管理器
Name[zh_TW]=邏輯卷冊管理
GenericName=LVM
GenericName[as]=LVM
GenericName[bn_IN]=LVM
GenericName[cs]=LVM
GenericName[da]=LVM
GenericName[de]=LVM
GenericName[el]=LVM
GenericName[en_GB]=LVM
GenericName[es]=LVM
GenericName[fi]=LVM
GenericName[fr]=LVM
GenericName[gu]=LVM
GenericName[hi]=LVM
GenericName[hu]=LVM
GenericName[it]=LVM
GenericName[ja]=LVM
GenericName[kn]=LVM
GenericName[ko]=LVM 
GenericName[ml]=LVM
GenericName[mr]=LVM
GenericName[nl]=LVM
GenericName[or]=LVM
GenericName[pa]=LVM
GenericName[pl]=LVM
GenericName[pt]=LVM
GenericName[pt_BR]=LVM
GenericName[ru]=LVM
GenericName[sr]=LVM
GenericName[sr@latin]=LVM
GenericName[sv]=LVM
GenericName[ta]=LVM
GenericName[te]=LVM
GenericName[tr]=LVM
GenericName[uk]=LVM
GenericName[zh_CN]=LVM
GenericName[zh_TW]=LVM
Comment=Configure LVM in a graphical setting
Comment[as]=চিত্ৰাঙ্কিত পৰিবেশত LVM বিন্যাস কৰক
Comment[bn_IN]=গ্রাফিক্যাল পরিবেশে LVM কনফিগার করুন
Comment[cs]=Nakonfigurovat LVM v grafickém rozhraní
Comment[da]=Konfigurér LVM i en grafisk opsætning
Comment[de]=LVM grafisch konfigurieren
Comment[en_GB]=Configure LVM in a graphical setting
Comment[es]=Configurar LVM en un entorno gráfico
Comment[fi]=Tee LVM-asetukset graafisella työkalulla
Comment[fr]=Configure LVM de manière graphique
Comment[gu]=ગ્રાફિકલ સુયોજનોમાં LVM ને રૂપરેખાંકિત કરી રહ્યા છે
Comment[hi]=LVM को आलेखी सेटिंग में विन्यस्त करें
Comment[hu]=Az LVM beállítása grafikusan
Comment[it]=Configura LVM con una impostazione grafica
Comment[ja]=グラフィカルセッティング内で LVM を設定します
Comment[kn]=LVM ಅನ್ನು ಒಂದು ಚಿತ್ರಾತ್ಮಕ ಸಿದ್ದತೆಯಲ್ಲಿ ಸಂರಚಿಸಿ
Comment[ko]=그래픽 설정에서 LVM 구성  
Comment[ml]=ഗ്രാഫിക്കല്‍ സജ്ജീകരണത്തില്‍ LVM ക്രമീകരിക്കുക
Comment[mr]=LVM ला चित्रलेखीय संयोजनासह संयोजीत करा
Comment[nl]=Configureer LVM in een grafische omgeving
Comment[or]=ଗୋଟିଏ ଆଲେଖୀକ ସଂରଚନାରେ LVM କୁ ବିନ୍ୟାସ କରନ୍ତୁ
Comment[pa]=LVM ਨੂੰ ਗਰਾਫੀਕਲ ਸੈਟਿੰਗ ਵਿੱਚ ਸੰਰਚਿਤ ਕਰੋ
Comment[pl]=Konfiguracja LVM w środowisku graficznym
Comment[pt]=Configure LVM num ambiente gráfico
Comment[pt_BR]=Configure o LVM em um aplicativo gráfico
Comment[ru]=Настроить LVM в графическом окружении
Comment[sr]=LVM подешавање у графичком окружењу
Comment[sr@latin]=LVM podešavanje u grafičkom okruženju
Comment[sv]=Konfigurera LVM i en grafisk miljö
Comment[ta]=LVM லில் உள்ள ஒரு கிராபிக்கஸ் அமைவுகளை கட்டமை
Comment[te]=LVMను గ్రాఫికల్ అమర్పునందు ఆకృతీకరించుము
Comment[tr]=LVM grafiksel yapılandırma aracı 
Comment[uk]=Налаштувати LVM у графічному оточенні
Comment[zh_CN]=在图形设置中配置 LVM
Comment[zh_TW]=在圖形化設定中設定 LVM
StartupNotify=true
Icon=/usr/share/system-config-lvm/pixmaps/lv_icon.png
Exec=xdg-su -c /usr/sbin/system-config-lvm
Type=Application
Terminal=false
Encoding=UTF-8
Categories=System;Filesystem;
