[Desktop Entry]
Name=GNU PSPP
GenericName=Statistical Software
GenericName[tr]= İstatistik Yazılımı
GenericName[de]=Statistiksoftware
GenericName[lt]=Statistinė programinė įranga
GenericName[cs]=Statistický program
Comment=Analyze statistical data with a free alternative to SPSS
Comment[tr]= SPSS'e özgür alternatif ile istatistiksel verilerinizi analiz edin
Comment[de]= Statistische Daten mit einer freien Alternative zu SPSS analysieren
Comment[lt]= Statistinių duomenų analizavimas su nemokama SPSS alternatyva 
Comment[cs]= Analyzuj statistická data se svobodnou variantou SPSS
Exec=psppire %F
Icon=pspp
Terminal=false
Type=Application
Categories=GTK;Education;Science;Math;
MimeType=application/x-spss-sav;application/x-spss-por;
StartupNotify=false
