[Desktop Entry]
Encoding=UTF-8
Name=PSPP
GenericName=Statistical Analysis
GenericName[tr]=İstatistiki Analiz
Exec=psppire
Icon=psppire
Terminal=false
Type=Application
Categories=Education;Science;Math;
