[Desktop Entry]
Encoding=UTF-8
Name=SweetHome3D
GenericName=An Interior Design Application
GenericName[tr]=Iç Dekorasyon Dizayn Uygulaması
Icon=sweethome3d
Exec=SweetHome3D
Terminal=false
Type=Application
Categories=Application;Graphics;
StartupNotify=true
