[Desktop Entry]
Type=Application
Name=Echomixer
Name[tr]=Echomixer
GenericName=Echoaudio soundcard tool
GenericName[tr]=Echoaudio ses kartı aracı
Icon=alsa-tools
Exec=echomixer
Terminal=false
Categories=AudioVideo;Audio;
