[Desktop Entry]
Type=Application
Name=HDSPMixer
Name[tr]=HDSPMixer
GenericName=RME Hammerfall DSP Mixer
GenericName[tr]=RME Hammerfall için karıştırıcı
Icon=hdspmixer
Exec=hdspmixer
Terminal=false
Categories=AudioVideo;Audio;
