[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Armagetron AD
Name[tr]=Armagetron AD
GenericName=3D Lightcycle Game
GenericName[tr]=3B Motor Arenası
Icon=armagetronad
Exec=/usr/bin/armagetronad --datadir /usr/share/armagetronad --userconfigdir $HOME/.armagetronad
Terminal=false
StartupNotify=false
Categories=Application;Game;ActionGame;
