[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Torcs
Name[tr]=Torcs
GenericName=Car Racing
GenericName[tr]=Araba Yarışı
Icon=torcs
Exec=torcs
Terminal=false
StartupNotify=false
Categories=Application;Game;SportsGame;
