[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Putty
Name[tr]=Putty
GenericName=SSH/Telnet Client
GenericName[tr]=SSH/Telnet İstemcisi
Icon=putty
Exec=putty
Terminal=false
StartupNotify=false
Categories=Application;Network;