[Unit]
Description=Irda Support
After=syslog.target

[Service]
Type=forking
PIDFile=/run/irattach.pid
EnvironmentFile=-/etc/conf.d/irda
ExecStartPre=-/sbin/modprobe -qab ircomm-tty irtty-sir irnet
ExecStart=/usr/sbin/irattach ${DEVICE} ${OPTIONS}
StandardOutput=syslog
StandardError=syslog


[Install]
WantedBy=multi-user.target
