[Desktop Entry]
Encoding=UTF-8
Type=Application
Categories=AudioVideo;Audio;Midi;Sequencer;X-SuSE-Sequencer;X-Red-Hat-Base;
Exec=rosegarden %f
MimeType=audio/x-rosegarden-composition;audio/x-rosegarden-device;audio/x-rosegarden-project;audio/x-rosegarden-template;audio/x-wav;audio/midi;audio/ogg;audio/mp3;audio/x-flac;
X-KDE-NativeMimeType=audio/x-rosegarden-composition
Icon=rosegarden
DocPath=http://rosegardenmusic.com
Comment=MIDI and Audio Sequencer and Notation Editor
Comment[es]=Secuenciador de MIDI y de audio y editor de partitura
Comment[tr]=MIDI Ardışımlayıcı ve Nota Düzenleyici
Terminal=false
Name=Rosegarden
Name[de]=Rosegarden
Name[es]=Rosegarden
Name[tr]=Rosegarden
GenericName=MIDI and Audio Sequencer and Notation Editor
GenericName[es]=Secuenciador de MIDI y de audio y editor de partitura
GenericName[tr]=MIDI Ardışımlayıcı ve Nota Düzenleyici
