[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Clanbomber
Name[tr]=Clanbomber
GenericName=Beomberman Like game
GenericName[tr]=Bombacı Oyunu
Comment=Bomberman like multiplayer game
Comment[tr]=Çok Oyuncu Desteki Bombacı Oyunu
Icon=clanbomber
Exec=clanbomber
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame;
