#!/usr/bin/env xdg-open
[Desktop Entry]
Encoding=UTF-8
Name=KBibTeX
Name[tr]=KBibTeX
Comment=KDE-based editor for bibliographic files
Comment[tr]=KDE tabanlı bibliyografik dosya editörü
GenericName=BibTeX Editor
GenericName[tr]=BibTeX Editör
Icon=/usr/share/icons/hicolor/48x48/apps/kbibtex.png
Exec=kbibtex -caption "%c" %U
Type=Application
Terminal=false
X-KDE-StartupNotify=true
# TODO X-DBUS-StartupType=Multi
# TODO X-DBUS-ServiceName=org.kde.kbibtex
Categories=Qt;KDE;Office;Database;Science;Literature;
MimeType=text/x-bibtex;application/x-research-info-systems;
