[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Word War VI
GenericName=Battle of the Editors
GenericName[tr]=Kelime İşlemcilerin Savaşı
Icon=wordwarvi
Exec=wordwarvi --fullscreen --levelwarp 0
Terminal=false
StartupNotify=true
Categories=Application;Game;ArcadeGame;
