[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=PPracer
Name[tr]=PPracer
GenericName=Race on ICE
GenericName[tr]=Buz Yarışı
Icon=ppracer
Exec=ppracer
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame;
