[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Trigger
Name[tr]=Trigger
GenericName=Rally Racing Game
GenericName[tr]=Ralli Yarış Oyunu
Icon=trigger.png
Exec=trigger
Terminal=false
StartupNotify=false
Categories=Application;Game;SportsGame;
