[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Foobillard
Name[tr]=Foobillard
GenericName=3D Billard Game
GenericName[tr]=3B Bilardo Oyunu
Icon=foobillard.png
Exec=foobillard
Terminal=false
StartupNotify=false
Categories=Application;Game;SportsGame;
