[Desktop Entry]
Name=Eclipse
Name[tr]=Eclipse
Comment=An Integrated Development Environment
Comment[tr]=Tümleşik Geliştirme Ortamı
Icon=/usr/share/pixmaps/eclipse.png
Exec=/usr/bin/eclipse
Terminal=false
Type=Application
Categories=GNOME;Application;Development;
StartupNotify=true
