[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Diffpdf
Name[tr]=Diffpdf
GenericName=PDF files comparator
GenericName[tr]=PDF dosyaları karşılaştırıcı
Comment=Use diffpdf to compare two PDF files
Comment[tr]=Diffpdf kullanarak iki PDF dosyanızı karşılaştırın.
Icon=diffpdf
Exec=diffpdf
Terminal=false
StartupNotify=false
Categories=Utility;TextTools;
