#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Sauerbraten
Name[tr]=Sauerbraten
GenericName=Sauerbraten/Cube2
GenericName[tr]=Sauerbraten/Cube2
Icon=sauerbraten
Exec=sauerbraten
Terminal=false
StartupNotify=false
Categories=Application;Game;ActionGame;
