[Unit]
Description=Sauerbraten dedicated server
After=network.target

[Service]
User=nobody
ExecStart=/usr/share/sauerbraten/bin_unix/
Restart=on-abort
StandardOutput=syslog

[Install]
WantedBy=multi-user.target

