[Desktop Entry]
Encoding=UTF-8
Name=Wine File Manager
Exec=winefile
Icon=system-file-manager
Terminal=false
Type=Application
Categories=Application;X-Wine;

Name[tr]=Wine Dosya Yöneticisi
