[Desktop Entry]
Type=Application
Version=1.0
Name=Minecraft
GenericName=Mining Game
GenericName[tr]=Madencilik Oyunu
GenericName[es]=Juego de Construcción
Comment=A game about placing blocks
Comment[tr]=Blokları yerleştirmeye çalıştığınız bir oyun
Comment[es]=Un juego en el que tendrá que ir insertando bloques
Icon=minecraft
Exec=minecraft
Terminal=false
StartupNotify=false
Categories=Application;Game;LogicGame;
