[Desktop Entry]
Encoding=UTF-8
Name=Shortcut Keys
Comment=Keyboard Shortcut Settings
Comment[tr]=Klavye Kısayolları
GenericName=Keyboard Shortcut Settings
GenericName[tr]=Klavye Kısayol Ayarları
Exec=lxqt-config-globalkeyshortcuts
Icon=preferences-desktop-keyboard
StartupNotify=false
Terminal=false
Type=Application
Categories=Settings;DesktopSettings;Qt;LXQt;
OnlyShowIn=LXQt;LXDE;


Name[ru]=конфигурация сокращенных путей Pa3op
Comment[ru]=Глобальний конфигурация сокращенных путей для рабочий стол Pa3or
GenericName[ru]=Глобальний конфигурация сокращенных путей Pa3op
Name[uk]=Налаштування скорочень LxQt
Comment[uk]=Налаштувати глобальні скорочення стільниці LxQt
GenericName[uk]=Налаштування глобальних скорочень LxQt
Name[cs_CZ]=Nastavení klávesových zkratek
Comment[cs_CZ]=Nastavit celkové klávesové zkratky pro prostředí LxQt
GenericName[cs_CZ]=Nastavení celkových klávesových zkratek
Name[zh_TW]=LxQt快捷鍵設定
Comment[zh_TW]=設定LxQt桌面的全域快捷鍵
GenericName[zh_TW]=LxQt全域快捷鍵設定
Name[es]=Configuración de Atajos de LxQt
Comment[es]=Configure atajos globales del Escritorio de LxQt
GenericName[es]=Configuración de Atajos Globales de LxQt
Name[de_DE]=LxQt Hotkey Konfiguration
Comment[de_DE]=Globalen Hotkey für LxQt Desktop definieren
GenericName[de_DE]=LxQt Globale Hotkey Konfiguration
Name[zh_CN]=LxQt 快捷键配置
Comment[zh_CN]=配置 LxQt 桌面全局快捷键
GenericName[zh_CN]=LxQt 全局快捷键配置
Name[th_TH]=การตั้งค่าปุ่มลัด LxQt
Comment[th_TH]=ตั้งค่าปุ่มลัดหลักของ LxQt เดกส์ท็อป
GenericName[th_TH]=การตั้งค่าปุ่มลัดหลัก LxQt
Name[eu]=LxQt lasterbideen konfigurazioa
Comment[eu]=Konfiguratu LxQt mahaigainaren lasterbide globalak
GenericName[eu]=LxQt lasterbide globalen konfigurazioa
Name[it_IT]=Configurazione delle scorciatoie di LxQt
Comment[it_IT]=Configura le scorciatoie globali del desktop LxQt
GenericName[it_IT]=Configurazione delle scorciatoie globali di LxQt
Name[el_GR]=Διαμόρφωση καθολικών συντομεύσεων LxQt
Comment[el_GR]=Διαμόρφωση καθολικών συντομεύσεων LxQt
GenericName[el_GR]=Διαμόρφωση καθολικών συντομεύσεων LxQt
Name[pt_BR]=Configuração Do Atalho
Comment[pt_BR]=Configurar atalhos globais do desktop LxQt
GenericName[pt_BR]=Configurações Dos Atalhos Globais
Name[pl_PL]=Konfiguracja skrótów pulpitu LxQt
Comment[pl_PL]=Określ globalny skrót pulpitu LxQt
GenericName[pl_PL]=Konfiguracja globalnych skrótów pulpitu LxQt
Name[da_DK]=Konfiguration af LxQt Tastaturgenveje
Comment[da_DK]=Konfigurer globale tastaturgenveje for LxQt-skrivebordet
GenericName[da_DK]=Konfiguration af LxQt Globale Tastaturgenveje
Name[es_VE]=Configuracion de atajos de LxQt
Comment[es_VE]=Configura atajos de teclado para el escritorio LxQt
GenericName[es_VE]=Configuracion de Atajos globales de LxQt
Name[ro_RO]=Configurație acceleratori LxQt
Comment[ro_RO]=Configurează acceleratorii globali pentru LxQt
GenericName[ro_RO]=Configurație acceleratori globali LxQt
Name[ru_RU]=Настройка Сочетание Клавиш LxQt
Comment[ru_RU]=Настроить глобальное сочетание клавиш рабочего стола LxQt
GenericName[ru_RU]=Настройка Глобального Сочетание Клавиш LxQt
Name[cs]=Nastavení klávesových zkratek
Comment[cs]=Nastavit celkové klávesové zkratky pro prostředí LxQt
GenericName[cs]=Nastavení celkových klávesových zkratek
Name[pt]=Configuração dos atalhos do LxQt
Comment[pt]=Configurar os atalhos globais do LXDE-Qt
GenericName[pt]=Configuração dos atalhos globais do LXDE-Qt
Name[da]=Konfiguration af LxQt Tastaturgenveje
Comment[da]=Konfigurer globale tastaturgenveje for LxQt-skrivebordet
GenericName[da]=Konfiguration af LxQt Globale Tastaturgenveje