[Desktop Entry]
Name=Doxywizard
GenericName=Doxygen GUI Frontend
GenericName[tr]=Doxygen Grafik Arayüzü
Exec=doxywizard
Icon=doxywizard
Terminal=false
Type=Application
Categories=Qt;Development;
