[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Fish Fillets
Name[tr]=Fish Fillets
GenericName=Underwater Labyrinths
GenericName[tr]=Sualtı Labirentleri
Icon=fillets
Exec=fillets
Terminal=false
StartupNotify=false
Categories=Application;Game;LogicGame;
