[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=The Ur-Quan Masters
GenericName=SDL version of UQM
GenericName[tr]=UQM SDL
Icon=uqm
Exec=uqm -f
Terminal=false
StartupNotify=false
Categories=Game;AdventureGame;StrategyGame;

