[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=The Ur-Quan Masters
GenericName=OpenGL version of UQM
GenericName[tr]=UQM OpenGL
Icon=uqm
Exec=uqm -o -f --scale=bilinear --res=1024x768
Terminal=false
StartupNotify=false
Categories=Game;AdventureGame;StrategyGame;

