[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=CannonSmash
GenericName=3D Tabletennis Game
GenericName[tr]=3B Masatenisi Oyunu
Icon=csmash
Exec=csmash
Terminal=false
StartupNotify=false
Categories=Application;Game;SportsGame;
