[Desktop Entry]
Encoding=UTF-8
Exec=qtcreator
Name=Qt Creator
GenericName=Integrated Development Environment
GenericName[tr]=Tümleşik Geliştirme Ortamı
X-KDE-StartupNotify=true
Icon=qtcreator_logo_32
Terminal=false
Type=Application
Categories=Qt;Development;IDE;
