[Desktop Entry]
Comment=Mixer utility for Firewire audio devices
Comment[tr]=Firewire ses aygıtları için ses karıştırıcı
Exec=ffado-mixer
GenericName=FFADO Mixer utility
GenericName[tr]=FFADO Ses karıştırıcı
Icon=ffado-mixer
Name=FFADO Mixer
Path=
Type=Application
Categories=Mixer;Audio;AudioVideo;HardwareSettings;Qt;
