[Desktop Entry]
Encoding=UTF-8
Name=WideLands
Exec=widelands
Type=Application
GenericName=Settlers II Clone
GenericName[pl]=Klon Settlers II
GenericName[tr]=Settlers II Benzeri
Icon=widelands
Categories=Game;StrategyGame;
