[Desktop Entry]
Encoding=UTF-8
Exec=idle
Icon=idle
Name=IDLE Integrated Development Environment
Name[tr]=IDLE Tümleşik Geliştirme Ortamı
StartupNotify=false
Terminal=false
Type=Application
Categories=Application;Development;
MimeType=application/x-python;