[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Ettercap
Name[tr]=Ettercap
GenericName=Network Analyzer
GenericName[tr]=Ağ İnceleyici
Icon=ettercap
Exec=xdg-su -c "/usr/bin/ettercap -G"
Terminal=false
StartupNotify=false
Categories=System;Monitor;

