[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Nightingale
Comment=Multimedia Client
Exec=nightingale
Icon=/usr/share/pixmaps/nightingale.png
Terminal=false
Type=Application
StartupWMClass=Nightingale
MimeType=application/x-ogg;application/ogg;application/x-flac;
Categories=AudioVideo;Player;
X-Desktop-File-Install-Version=0.15
