[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=snes9x
Name[tr]=snes9x
GenericName=snes9x
GenericName[tr]=snes9x
Comment=A portable Emulator for the Super Nintendo Entertainment System - GTK version
Comment[tr]=A portable Emulator for the Super Nintendo Entertainment System - GTK version
Icon=snes9x
Exec=snes9x
Terminal=false
StartupNotify=false
Categories=Application;Game;
