[Desktop Entry]
Type=Application
Name=Eternal Lands
Name[tr]=Eternal Lands
GenericName=MMORPG game
GenericName[tr]=MMORPG oyunu
Icon=eternal-lands
Exec=eternal-lands
Terminal=false
StartupNotify=false
Categories=Game;ActionGame;
