[Desktop Entry]
Name=Expedite
GenericName=Expedite
Categories=Graphics;Viewer;RasterGraphics;2DGraphics;Photography;
Exec=expedite -e xlib
Icon=expedite
StartupNotify=true
Terminal=false
Type=Application
