[Desktop Entry]
Encoding=UTF-8
Name=BZFlag
GenericName=3D Shooting game
GenericName[tr]=3B Tank oyunu
Exec=bzflag
Terminal=false
Type=Application
Categories=Qt;KDE;Game;ActionGame;
Icon=bzflag
