[Desktop Entry]
Name=LMMS project
Name[tr]=LMMS projesi
Comment=LMMS project
Comment[tr]=LMMS proje dosyası
Icon=/usr/share/lmms/themes/default/project_file.png
MimeType=application/x-lmms-project;
Patterns=*.mmp;*.mmpz;
Type=MimeType
