[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=GNU Jump
Name[tr]=GNU Jump
GenericName=GNU Jump
GenericName[tr]=GNU Jump
Icon=gnujump
Exec=gnujump
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame;
