[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Warzone 2100
Name[de]=Warzone 2100
Name[pl]=Warzone 2100
Name[tr]=Warzone 2100
GenericName=Strategy Game
GenericName[de]=Strategiespiel
GenericName[pl]=Gra strategiczna
GenericName[tr]=Strateji Oyunu
Icon=warzone2100
Exec=env LC_ALL=C warzone2100 
Terminal=false
StartupNotify=false
Categories=Application;Game;StrategyGame;
