[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Red Eclipse
GenericName=Single and Multiplayer FPS
GenericName[tr]=Tek ve Çok Kullanıcılı Nişan Oyunu
Comment=A first person ego shooter game
Comment[tr]=Birinci tekil şahış nişan oyunu
Icon=redeclipse
Exec=redeclipse
Terminal=false
StartupNotify=false
Categories=Application;Game;ActionGame;
