[Unit]
Description=Icecream Scheduler

[Service]
Type=forking
PIDFile=/var/run/scheduler.pid
ExecStart=/opt/icecream/sbin/scheduler -d > /dev/null

[Install]
WantedBy=multi-user.target
