[Unit]
Description=Icecream Daemon
After=network.target nss-lookup.target

[Service]
Type=forking
PIDFile=/run/iceccd.pid
ExecStart=/opt/icecream/sbin/iceccd -d -m 5 > /dev/null

[Install]
WantedBy=multi-user.target
