ACTION=="add", SUBSYSTEM=="usb", ATTRS{idVendor}=="4102", ATTRS{idProduct}=="100[135789]", RUN+="/sbin/libifp-hotplug"
ACTION=="add", SUBSYSTEM=="usb", ATTRS{idVendor}=="4102", ATTRS{idProduct}=="101[01]", RUN+="/sbin/libifp-hotplug"
