[Desktop Entry]
Name=Service Manager
Name[az]=Servis İdarəçisi
Name[da]=Tjeneste håndtering
Name[de]=Dienste
Name[es]=Administrador de servicios
Name[fr]=Gestionnaire de services
Name[hu]=Szolgáltatás kezelő
Name[it]=Gestore dei servizi
Name[nl]=Dienstbeheer
Name[pt_BR]=Gerenciador de Serviço
Name[ru]=Менеджер служб
Name[sv]=Tjänstehanteraren
Name[tr]=Servis Yöneticisi
GenericName=Service Manager
GenericName[az]=Servis İdarəçisi
GenericName[da]=Tjeneste håndtering
GenericName[de]=Dienste
GenericName[es]=Administrador de servicios
GenericName[fr]=Gestionnaire de services
GenericName[hu]=Szolgáltatás kezelő
GenericName[it]=Gestore dei servizi
GenericName[nl]=Dienstbeheer
GenericName[pt_BR]=Gerenciador de Serviço
GenericName[ru]=Менеджер служб
GenericName[sv]=Tjänstehanteraren
GenericName[tr]=Servis Yöneticisi
Comment=An application for managing system services.
Comment[az]=Sistem xidmətləri idarəçilik tətbiqi
Comment[de]=Verwaltung der System-Dienste.
Comment[es]=Programa para gerenciar los servicios del sistema
Comment[fr]=Une application de gestion des services du système.
Comment[hu]=Rendszerszolgáltatás kezelő alkalmazás.
Comment[it]=Un applicazione per la gestione dei servizi sel sistema.
Comment[nl]=Een toepassing voor het beheren van systeemdiensten.
Comment[pt_BR]=Um aplicativo para gerenciar os Serviços do Sistema
Comment[ru]=Приложение для управления системными службами.
Comment[sv]=Ett program för hantering av systemtjänster.
Comment[tr]=Sistem servisleri yönetim uygulaması.
Exec=service-manager
Icon=flag-yellow
Type=Application
Categories=Qt;KDE;System;
#NotShowIn=KDE;
