[Desktop Entry]
Name=Hexter DSSI
GenericName=Software Synthesizer
GenericName[tr]=Yazılımsal Sentezleyici
Comment=Real-time software synthesizer DX7 emulator
Comment[tr]=Gerçek-zamanlı DX7 sentezleyici modelleyici
Icon=hexter
Type=Application
Exec=/usr/bin/hexter
Terminal=false
Categories=Audio;AudioVideo;Midi;X-Synthesis;X-Jack;
