[Desktop Entry]
Name=Hinting-viewer
Comment=Hinting-viewer.
Comment[tr]=Bir Yazının ana hatlarına bakmayı sağlayan basit bir program.
Exec=hinting
Icon=/usr/share/pixmaps/hinting.png
Terminal=false
Type=Application
Categories=Application;System;