[Desktop Entry]
Name=Funguloids
Comment=Those Funny Funguloids!
Icon=funguloids
Exec=funguloids
Terminal=false
Type=Application
Categories=Game;ArcadeGame;
