[Desktop Entry]
Type=Application
Version=1.0
Name=Klavaro
Name[tr]=Klavaro
GenericName=Touch Typing Tutor
GenericName[tr]=Klavye Eğitimi
Icon=klavaro
Exec=klavaro
Terminal=false
StartupNotify=true
Categories=Education;Science;ComputerScience;GTK;
