[Desktop Entry]
Version=0.10
Type=Application
Encoding=UTF-8
Name=S.C.O.U.R.G.E Editor
Name[tr]=S.C.O.U.R.G.E Düzenleyici
Generic=Map Editor
Generic[tr]=Harita Düzenleyici
TryExec=scourge-tools
Exec=scourge-tools
Categories=Game;ArcadeGame;RolePlaying;
Icon=scourge
