[Desktop Entry]
Type=Application
Name=envy24control
Name[tr]=envy24control
GenericName=envy24(ice1712) based soundcard tool
GenericName[tr]=envy24(ice1712) ses kartı aracı
Icon=alsa-tools
Exec=envy24control
Terminal=false
Categories=AudioVideo;Audio;
