[Desktop Entry]
Type=Application
Name=HDSPConf
Name[tr]=HDSPConf
GenericName=Hammerfall HDSP soundcard tool
GenericName[tr]=Hammerfall HDSP ses kartı aracı
Icon=hdspconf
Exec=hdspconf
Terminal=false
Categories=AudioVideo;Audio;
