[Desktop Entry]
Encoding=UTF-8
Name=Hwmixvolume
GenericName=Hardware Mixer Volumes
GenericName[tr]=Donanımsal Ses Karıştırıcı Seviyeleri
Comment=Control the volume of individual streams on sound cards that use hardware mixing
Comment[tr]=Donanımsal karıştırıcı kullanan ses kartlarındaki farklı akışların ses şiddetini ayarlayın
Exec=hwmixvolume
Icon=hwmixvolume
Terminal=false
Type=Application
Categories=Application;AudioVideo;
Version=0.9.4
