[Desktop Entry]
Type=Application
Name=Rmedigicontrol
Name[tr]=Rmedigicontrol
GenericName=RME Digi32/96 soundcard tool
GenericName[tr]=RME Digi32/96 ses kartı aracı
Icon=alsa-tools
Exec=rmedigicontrol
Terminal=false
Categories=AudioVideo;Audio;
