#!/usr/bin/env xdg-open
[Desktop Entry]
Encoding=UTF-8
Name=Java Web Start
Exec=/opt/sun-jre/javaws/javaws %U
Icon=java_jar
Terminal=false
Type=Application
NoDisplay=True
MimeType=application/x-java-jnlp-file;
