#!/usr/bin/env xdg-open
#
# Copyright (c) 2006, 2010, Oracle and/or its affiliates. All rights reserved.
# Use is subject to license terms.
#
# Desktop entry for the Java Control Panel (jcontrol).  The name is poor,
# but maintained for compatibility reasons.
#
# Note: This file may be installed under both "control-center-2.0" and
# "applications".  Depending upon the version of GNOME, the copy in
# "applications" may take precedence.
#
[Desktop Entry]
Encoding=UTF-8
Name=Java
GenericName= java control panel
GenericName[tr]=java kontrol paneli
Exec=jcontrol
Icon=sun_java
Terminal=false
StartupNotify=false
Type=Application
Categories=System;
