#!/usr/bin/env xdg-open
[Desktop Entry]
Comment=A free environment for rapid engineering and scientific prototyping and data processing.
Comment[tr]=Özgür bir mühendislik ve bilimsel hesaplama programı
Exec=FreeMat
GenericName=FreeMat
GenericName[tr]=Bilimsel Hesaplama Paketi
Icon=freemat
Name=FreeMat
Name[tr]=FreeMat
StartupNotify=false
Terminal=false
Type=Application
Categories=Education;Science;Math;Engineering;