[Desktop Entry]
Encoding=UTF-8
Name=Bos Wars
Exec=boswars
Type=Application
GenericName=Invasion - Battle of Survival
GenericName[tr]=İstila - Hayatta Kalanların Savaşı
Icon=boswars
Categories=Game;StrategyGame;