[Desktop Entry]
Name=PhotoRec
Name[zh_CN]=PhotoRec数据恢复软件
GenericName=Photo recovery software
GenericName[tr]=Resim kurtarma programı
Comment[zh_CN]=用于恢复磁盘里损坏或丢失的数据文件
Exec=lxterminal --title="PhotoRec" --geometry=80x26 -e photorec
Icon=photorec_logo
Type=Application
Categories=System;
StartupNotify=true
