[Desktop Entry]
Name=TestDisk
Name[zh_CN]=TestDisk磁盘修复工具
GenericName=Data recovery software
GenericName[tr]=Veri kurtarma programı
Exec=lxterminal --title="TestDisk" --geometry=80x26 -e testdisk
Comment[zh_CN]=可以修复由于软件缺陷或某些病毒导致的分区丢失或分区表丢失导致磁盘无法启动的问题。
Icon=testdisk_logo
Type=Application
Categories=System;
StartupNotify=true