[Desktop Entry]
Encoding=UTF-8
Exec=risk
Name=Risk
Name[tr]=Risk
Type=Application
GenericName=RISK Board Game
GenericName[tr]=RISK Masaüstü Oyunu
Terminal=false
Icon=risk
Categories=Application;Game;BoardGame;
