[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Tosla
Name[tr]=Tosla
GenericName=Traffic Rush Clone
GenericName[tr]=Traffic Rush Klonu
Comment=Try to regulate the traffic in a crowded cross road
Comment[tr]=Bu kalabalık kavşaktaki trafiği bakalım düzeltebilecek misiniz?
Icon=tosla
Exec=tosla
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame;
