[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=UFO:AI
Name[tr]=UFO:AI
GenericName=Alien Invasion
GenericName[tr]=Uzaylı İstilası
Icon=ufoai
Exec=ufo
Terminal=false
StartupNotify=false
Categories=Application;Game;StrategyGame;
