[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=xdvik
Name[tr]=xdvik
GenericName=DVI previewer
GenericName[tr]=DVI Görüntüleyici
Icon=xdvik
Exec=xdvi
Terminal=false
StartupNotify=false
Categories=Application;Graphics;
