[Desktop Entry]
Encoding=UTF-8
Name=pgadmin3
Comment=Graphical client for PostgreSQL
Comment[tr]=PostgreSQL için grafiksel istemci
GenericName=PostgreSQL Tools
GenericName[tr]=PostgreSQL Yönetim Aracı
Exec=pgadmin3
Icon=pgadmin3
Type=Application
Categories=Application;Development;
