[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=LMarbles
GenericName=Atomix Clone
GenericName[tr]=Atomix Oyunu
Comment=SDL Atomix Clone
Comment[tr]=Atomix Oyunu
Icon=lmarbles
TryExec=lmarbles
Exec=lmarbles
Terminal=false
Categories=Qt;KDE;Game;BlocksGame;
