#!/usr/bin/env xdg-open
[Desktop Entry]
X-SuSE-translate=true
Name=Veusz
Comment=Open .vsz scientific plotting files
GenericName=Veusz scientific plotting
Exec=veusz
StartupNotify=true
Terminal=false
Type=Application
Icon=veusz
Categories=GTK;GNOME;Education;Graphics;3DGraphics;
Encoding=UTF-8
MimeType=application/x-veusz;





