[Desktop Entry]
Encoding=UTF-8
Name=Wiimote
Comment=Nintendo Wiimote
Exec=wmgui
Icon=input-gaming
Terminal=false
Type=Application
Categories=Utility;X-KDE-Utilities-Peripherals;

