[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Glaxium
Name[tr]=Glaxium
GenericName=Glaxium
GenericName[tr]=Glaxium
Icon=glaxium
Exec=glaxium -f -4
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame;
