[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Funnyboat
Name[tr]=Funnyboat
GenericName=Funnyboat
GenericName[tr]=Funnyboat
Icon=funnyboat
Exec=funnyboat -f
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame;
