#!/usr/bin/env xdg-open
[Desktop Entry]
Categories=Application;Network;
Comment[tr]=
Comment=
Exec=namebench
GenericName[tr]=
GenericName=
Icon=applications-internet
MimeType=
Name[tr]=namebench
Name=namebench
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DBUS-ServiceName=
X-DBUS-StartupType=
X-KDE-SubstituteUID=false
X-KDE-Username=
