[Desktop Entry]
Encoding=UTF-8
Version=1.0
Name=Areca Backup
GenericName=Backup files in an easy way
GenericName[de]=Datensicherung einfach gemacht
GenericName[nl]=Backup van bestanden maken
Comment=a simple versatile and reliable backup solution
Comment[de]=Eine einfache, vielseitige und verlässliche Backuplösung.
Comment[nl]=Een eenvoudige, veelzijdige en betrouwbare oplossing voor backup.
Icon=/usr/share/pixmaps/areca.png
Exec=areca
Categories=Application;Utility;Archiving;
Type=Application
Terminal=false
X-KDE-StartupNotify=true
MultipleArgs=false 
