[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Enigma
Name[tr]=Enigma
GenericName=0xyd Puzzle Game
GenericName[tr]=0xyd Zeka Oyunu
Icon=enigma
Exec=enigma
Terminal=false
StartupNotify=false
Categories=Application;Game;LogicGame;
