[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=ClipGrab
GenericName=Video Downloader
GenericName[de]=Video-Downloader
GenericName[nl]=Video Downloader
Comment=Download and convert online videos
Comment[de]=Videos herunterladen und konvertieren
Commetn[nl]=Download en converteren van video's
Icon=/usr/share/pixmaps/clipgrab.png
Exec=clipgrab
Terminal=false
Categories=AudioVideo;Recorder;
