[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Blockout2
Name[tr]=Blockout2
GenericName=3D Tetris
GenericName[tr]=3B Tetris
Icon=blockout2
Exec=blockout2
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame;
