[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=FreedroidRPG
Name[tr]=FreedroidRPG
GenericName=Freedroid RPG
GenericName[tr]=Freedroid RPG Oyunu
Icon=freedroidrpg
Exec=freedroidRPG
Terminal=false
StartupNotify=false
Categories=Application;Game;RolePlaying;
