#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Name=EdytorNC
Comment=G-code QT text editor
Exec=edytornc %f
Icon=/usr/share/pixmaps/edytornc.png
Categories=Office;
MimeType=application/x-g-code;
