[Desktop Entry]
Type=Application
Version=0.1.2
Encoding=UTF-8
Name=Guitar Tuner
GenericName=Tuner 
GenericName[tr]=Gitar Akort Uygulaması
Comment=A guitar tuner application
Comment[tr]=Bir gitar akort uygulaması
Icon=guitar-tuner
Exec=guitartuner
Terminal=false
StartupNotify=false
Categories=Application;Multimedia;Sound;
