[Desktop Entry]
Encoding=UTF-8
Name=RLPlot
GenericName=Scientific Graph Plotter
GenericName[tr]=Bilimsel Grafik Çizim Programı
Type=Application
Exec=rlplot
Icon=rlplot
Categories=Chart;Education;Qt;Science;
