[Desktop Entry]
Name=SofaStats
GenericName=istatistik analiz
GenericName[tr]=istatistik analiz
Comment[tr]=istatistik analiz yapın
Exec=sofastats
Icon=/usr/share/pixmaps/sofa.png
Terminal=false
Type=Application
Categories=Education;Science;
MimeType=application;
StartupNotify=true
