#!/usr/bin/env xdg-open
[Desktop Entry]
Encoding=UTF-8
Exec=assistant-qt5
Name=Qt5 Assistant
Name[af]=Qt5 Assistent
Name[ar]=معاون Qt5
Name[az]=Qt5 Yardımçısı
Name[bn]=কিউ-টি সহায়ক
Name[br]=Skoazeller Qt5
Name[bs]=Qt5 Asistent
Name[ca]=Assistent Qt5
Name[cs]=Qt5 asistent
Name[cy]=Cymhorthwr Qt5
Name[de]=Qt5-Assistent
Name[el]=Βοηθός Qt5
Name[eo]=Qt5-Asistilo
Name[es]=Asistente Qt5
Name[eu]=Qt5 laguntzailea
Name[fa]=دستیار Qt5
Name[fo]=Qt5-hjálpari
Name[fy]=Qt5-assistent
Name[hi]=क्यूटी सहायक
Name[hr]=Qt5 Asistent
Name[hsb]=Qt5 Asistent
Name[ja]=Qt5 アシスタント
Name[km]=អ្នក​ជំនួយការ Qt5
Name[ko]=Qt5 도우미
Name[lo]=ຄຳແນະນຳການໃ້ຊ້Qt5
Name[lv]=Qt5 Asistents
Name[mk]=Qt5-Асистент
Name[mn]=Qt5-туслагч
Name[ms]=Pembantu Qt5
Name[nds]=Qt5-Hölper
Name[nl]=Qt5 Assistent
Name[nso]=Mothusi wa Qt5
Name[pa]=Qt5 ਸਹਾਇਕ
Name[pt]=Assistente do Qt5
Name[pt_BR]=Assistente Qt5
Name[ro]=Asistent Qt5
Name[ru]=Помощник Qt5
Name[rw]=Umufasha Qt5
Name[sl]=Pomočnik za Qt5
Name[ss]=Lisekela leQt5 
Name[ta]=Qt5 துணைவன்
Name[tg]=Дастёри Qt5
Name[th]=คำแนะนำการใช้ Qt5
Name[tr]=Qt5 Asistanı
Name[uk]=Qt5-асистент
Name[uz]=Qt53 ёрдамчи
Name[ven]=Qt5 Muthusi
Name[vi]=Trợ giúp Qt5
Name[wa]=Macrea Qt5
Name[xh]=Qt5 Umncedi
Name[zh_CN]=Qt5 助手
Name[zh_TW]=Qt5 助理
Name[zu]=Umsizi we-Qt5
GenericName=Document Browser
GenericName[af]=Dokument Blaaier
GenericName[ar]=متصفح المستندات
GenericName[az]=Sənəd Səyyahı
GenericName[bg]=Преглед на документи
GenericName[bn]=নথী ব্রাউজার
GenericName[br]=Furcher Teulioù
GenericName[bs]=Preglednik QT dokumenata
GenericName[ca]=Navegador de documents
GenericName[cs]=Prohlížeč dokumentace
GenericName[cy]=Porydd Dogfen
GenericName[da]=Dokumentfremviser
GenericName[de]=Dokumentbrowser
GenericName[el]=Προβολέας εγγράφων
GenericName[eo]=Dokumentorigardilo
GenericName[es]=Navegador de documentos
GenericName[et]=Dokumentatsiooni brauser
GenericName[eu]=Dokumentu arakatzailea
GenericName[fa]=مرورگر سند
GenericName[fi]=Asiakirjaselain
GenericName[fo]=Skjalakagari
GenericName[fr]=Explorateur de documentation Qt5
GenericName[fy]=Dokumintblêder
GenericName[ga]=Brabhsálaí Cáipéise
GenericName[gl]=Navegador de Documentos
GenericName[he]=דפדפן מסמכים
GenericName[hi]=दस्तावेज़ ब्राउज़रज़र
GenericName[hr]=Preglednik dokumenata
GenericName[hu]=Dokumentumböngésző
GenericName[id]=Peselancar Document
GenericName[is]=Skjalavafri
GenericName[it]=Visualizzatore di documenti
GenericName[ja]=ドキュメントブラウザ
GenericName[km]=កម្មវិធី​រុករក​ឯកសារ
GenericName[ko]=문서 탐색기
GenericName[lo]=ເຄື່ອງມືເລືອກເບິ່ງແຟ້ມເອກະສານ
GenericName[lt]=Dokumentų naršyklė
GenericName[lv]=Dokumentu Pārlūks
GenericName[mk]=Прелистувач на документи
GenericName[mn]=Баримтын хөтөч
GenericName[ms]=Pelungsur Dokumen
GenericName[mt]=Browser ta' Dokumenti
GenericName[nb]=Dokumentleser
GenericName[nds]=Dokmentkieker
GenericName[nl]=Documentbrowser
GenericName[nn]=Dokumentlesar
GenericName[nso]=Seinyakisi sa Tokomane
GenericName[pa]=ਦਸਤਾਵੇਜ਼ ਝਲਕਾਰਾ
GenericName[pl]=Przeglądarka dokumentów
GenericName[pt]=Navegador de Documentos
GenericName[pt_BR]=Navegador de Documentos
GenericName[ro]=Navigator de documente
GenericName[ru]=Программа просмотра документов
GenericName[rw]=Mucukumbuzi w'Inyandiko
GenericName[se]=Dokumeantalogan
GenericName[sk]=Prehliadač dokumentácie
GenericName[sl]=Pregledovalnik dokumentov
GenericName[sr]=Прегледач докумената
GenericName[sr@Latn]=Pregledač dokumenata
GenericName[ss]=Ibrawuza yelidokhumente
GenericName[sv]=Dokumentbläddrare
GenericName[ta]=ஆவண உலாவி
GenericName[tg]=Тафсири ҳуҷҷат
GenericName[th]=เครื่องมือเลือกดูแฟ้มเอกสาร
GenericName[tr]=Belge Tarayıcısı
GenericName[tt]=İstälek Küzätüçe
GenericName[uk]=Навігатор документів
GenericName[uz]=Ҳужжат браузери
GenericName[ven]=Buronza ya manwalwa
GenericName[vi]=Trình duyệt tài liệu
GenericName[wa]=Foyteu di documints
GenericName[xh]=Umkhangeli Wencwadi Zoxwebhu
GenericName[zh_CN]=文档浏览器
GenericName[zh_TW]=文件閱讀器
GenericName[zu]=Umcingi Woshicilelo
X-KDE-StartupNotify=true
Icon=assistant5
Terminal=false
Type=Application
Categories=Qt;Development;
