[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Beneath a Steel Sky
Name[tr]=Beneath a Steel Sky
GenericName=Beneath a Steel Sky
GenericName[tr]=Beneath a Steel Sky
Icon=bass
Exec=bass
Terminal=false
StartupNotify=false
Categories=Application;Game;AdventureGame;
