[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name[tr]=Penguin Command
GenericName[tr]=Missile Command benzeri oyun
Icon=/usr/share/pixmaps/penguincommand.png
Exec=penguin-command
Terminal=false
StartupNotify=false
Categories=Application;Game;ActionGame;