#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Speed Dreams
Comment=The Open Racing Car Simulator Fork
Comment[tr]=Araba yarışı similatörü.
Exec=speed-dreams-2
Icon=speed-dreams-2
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;Game;