[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Daimonin
Name[tr]=Daimonin
GenericName=MMORPG Game
GenericName[tr]=MMORPG Oyunu
Icon=daimonin
Exec=daimonin
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame;
