[Desktop Entry]
Encoding=UTF-8
Icon=tvtime
Exec=tvtime
Name=TVtime
GenericName=Television Viewer
GenericName[tr]=TV Görüntüleyicisi
Comment=High quality video deinterlacer
Comment[tr]=Yüksek kaliteli TV görüntüleyicisi ve görüntü işleyicisi
Terminal=false
Type=Application
Categories=Application;AudioVideo;
