#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Flight Gear
Name[tr]=Flight Gear
GenericName=Flight Simulation
GenericName[tr]=Uçak Simulasyonu
Icon=flightgear
Exec=fgfs --enable-fullscreen
Terminal=false
StartupNotify=false
Categories=Application;Game;Simulation;
