[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=0ad Editor
GenericName[tr]=3D Tarihi Strateji Oyun Editörü
GenericName=3D Historical Strategy Game Editor
Exec=0ad-editor
Icon=0ad.png
StartupNotify=true
Terminal=false
X-KDE-SubstituteUID=false
Type=Application
Categories=Game;StrategyGame;
