#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=0AD
GenericName=0AD strategy game
GenericName[tr]=0AD strateji oyunu
Comment=A real-time strategy game of ancient warfare
Comment[it]=Videogioco strategico in tempo reale di guerre antiche
Comment[tr]= Antik dönemler gerçek zamanlı strateji oyunu
Exec=0ad
Icon=0ad.png
Terminal=false
Type=Application
Categories=Game;StrategyGame;
