[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=GL 117
Name[tr]= GL 117
GenericName=3D Flight Simulator
GenericName[tr]=3B Uçuş Simulasyonu
Icon=gl117
Exec=gl-117
Terminal=false
StartupNotify=false
Categories=Application;Game;Simulation;
