[Desktop Entry]
Name=Onyx
GenericName=Structural Equation Modelling
GenericName[tr]=Yapısal Eşitlik Modeli
Comment[tr]=Yapısal Eşitlik Modelleri oluşturun
Exec=onyx
Icon=/usr/share/pixmaps/onyx.png
Terminal=false
Type=Application
Categories=Education;Science;
MimeType=application/x-spss-sav;
StartupNotify=true
