[Unit]
Description=MySQL database server
After=syslog.target
After=network.target

[Service]
Type=simple
User=mysql
Group=mysql
PIDFile=/run/mysqld/mysqld.pid
ExecStartPre=/usr/libexec/mysqld-prepare-db-dir %n
ExecStart=/usr/sbin/mysqld
ExecStartPost=/usr/libexec/mysqld-wait-ready $MAINPID

TimeoutSec=300

PrivateTmp=true

[Install]
WantedBy=multi-user.target