[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=ioPaintball
Name[tr]=ioPaintball
GenericName=ioPaintball
GenericName[tr]=ioPaintball
Icon=ioPaintball
Exec=ioPaintball
Terminal=false
StartupNotify=false
Categories=Application;Game;ActionGame;
