[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=ioPaintball
Name[tr]=ioPaintball
GenericName=Multiprocessor
GenericName[tr]=Çok İşlemci Destekli
Icon=ioPaintball
Exec=ioPaintball-smp
Terminal=false
StartupNotify=false
Categories=Application;Game;ActionGame;
