[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Alien Arena
Name[tr]=Alien Arena
GenericName=FPS Game
GenericName[tr]=FPS Oyunu
Icon=alienarena
Exec=alienarena
Terminal=false
StartupNotify=false
Categories=Application;Game;ActionGame;
