[Desktop Entry]
Exec=/usr/bin/geomview
Icon=geomview
Type=Application
Name=Geomview
GenericName=3D Viewing Program
GenericName[tr]=3B Ortam Gösterici
Categories=Science;Math;Education;
Terminal=false
