[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=GRASS
Comment=Geographical Information System (GIS)
Exec=grass64
Icon=grass.png
Terminal=true
Categories=Education;Science;Geography;

Name[bg]=GRASS
Comment[bg]=Географска информационна система (GIS)
Name[cs]=GRASS
Comment[cs]=GIS (Geographical Information System)
Name[de]=GRASS
Comment[de]=Geographical Information System (GIS)
Name[es]=GRASS
Comment[es]=Sistema de Información Geográfica (GIS)
Name[fi]=GRASS
Comment[fi]=Graafinen paikkatietojärjestelmä (GIS)
Name[fr]=GRASS
Comment[fr]=Système d'informations géographiques (Geographical Information System, GIS)
Name[hu]=GRASS
Comment[hu]=Térinformatikai rendszer (GIS)
Name[it]=GRASS
Comment[it]= Geographical Information System (GIS)
Name[ja]=GRASS
Comment[ja]=地理情報システム (GIS)
Name[nb]=GRASS
Comment[nb]=Geografisk informasjonssystem (GIS)
Name[nl]=GRASS
Comment[nl]=Geografisch Informatie Systeem (GIS)
Name[pl]=GRASS
Comment[pl]=System informacji geograficznej (GIS)
Name[pt]=GRASS
Comment[pt]=Sistema de Informação Geográfica (GIS)
Name[pt_BR]=GRASS
Comment[pt_BR]=Geographical Information System (GIS)
Name[ro]=GRASS
Comment[ro]=Sistem Geoinformatic (GIS)
Name[sk]=GRASS
Comment[sk]=Geografický informačný systém (GIS)
Name[tr]=GRASS
Comment[tr]=Coğrafi Bilgi Sistemi (GIS)
Name[zh_CN]=GRASS
Comment[zh_CN]=图形信息系统 (GIS)
Name[zh_TW]=GRASS
Comment[zh_TW]=地理資訊系統 (GIS)
