[Desktop Entry]
Type=Application
Name=Gtk2 theme switcher
Name[tr]=Gtk2 tema değiştiricisi
Name[de]=Gtk2 theme wechsler
Name[es]=Gtk2 cambiador tema
Name[nl]=Gtk2 thema wisselaar
GenericName=Gtk2 theme switcher
GenericName[tr]=Gtk2 tema değiştiricisi
GenericName[de]=Gtk2 theme wechsler
GenericName[es]=Gtk2 cambiador tema
GenericName[nl]=Gtk2 thema wisselaar
Icon=preferences-desktop-theme
Exec=gtk-theme-switch2
StartupNotify=true
Categories=Settings;DesktopSettings;GTK;X-LXDE-Settings;
