#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=K3d
Name[tr]=K3d
GenericName=K3d
GenericName[tr]=K3d
Icon=/usr/share/k3d/icons/k3d.png
Exec=k3d
Terminal=false
StartupNotify=false
Categories=Application;Graphics;Editor;
