[Desktop Entry]
Name=New generation gnome-virtual-file-system
Name[en_GB]=New generation gnome-virtual-file-system
Exec=/usr/libexec/gvfs
Terminal=false
Type=Application
Categories=
NoDisplay=true
X-Desktop-File-Install-Version=0.16
OnlyShowIn=KDE,XFCE,LXDE; 
