[Desktop Entry]
Type=Application
Name=Users and Groups
Name[tr]= Kullanıcı ve Gruplar
GenericName=User and Group Settings
Comment=Configure the users and groups of your system
Comment[tr]=sistemdeki kullanıcı ve grupları yapılandırın
Exec=lxqt-admin-user
Icon=preferences-system
Categories=Settings;System;DesktopSettings;Qt;LXQt;
OnlyShowIn=LXQt;

Name[ru]=Пользователи и группы
GenericName[ru]=Настройки пользователей и групп
Comment[ru]=Настроить пользователей и группы вашей системы
Name[pt]=Utilizadores e grupos
GenericName[pt]=Definições de utilizadores e grupos
Comment[pt]=Configurar os utilizadores e os grupos do seu sistema
Name[ru_RU]=Пользователи и группы
GenericName[ru_RU]=Настройки пользователей и групп
Comment[ru_RU]=Настроить пользователей и группы вашей системы
Name[ja]=ユーザーとグループ
GenericName[ja]=ユーザーとグループの設定
Comment[ja]=システム上のユーザーとグループを設定します
