[Desktop Entry]
Type=Application
Name=Date and Time
Name[tr]=Tarih ve Saat
GenericName=Date and Time Settings
Comment=Configure the date and time of your system
Comment[tr]=Sisteminizin tarin ve saatini yapılandırın
Exec=lxqt-admin-time
Icon=preferences-system
Categories=Settings;System;DesktopSettings;Qt;LXQt;
OnlyShowIn=LXQt;

Name[ru_RU]=Дата и время
GenericName[ru_RU]=Настройки даты и времени
Comment[ru_RU]=Настроить дату и время вашей системы
Name[pt]=Data e hora
GenericName[pt]=Definições de data e hora
Comment[pt]=Configurar a data e a hora do seu sistema
Name[ja]=日時設定
GenericName[ja]=日時の設定
Comment[ja]=システムに日付と時刻を設定します
Name[ru]=Дата и время
GenericName[ru]=Настройки даты и времени
Comment[ru]=Настроить дату и время вашей системы
