[Desktop Entry]
Type=Service
ServiceTypes=LxQtPanel/Plugin
Name=Network monitor
Name[tr]=Ağ İzleyici
Comment[tr]=Ağ durumunu ve etkinliğini gösterir.
Comment=Displays network status and activity.
#Icon=network-transmit-receive
Icon=network-wired
