[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Hex-a-hop
Name[tr]=Hex-a-hop
GenericName=Hexagonal Puzzle
GenericName[tr]=Altıgen Zeka Oyunu
Icon=hex-a-hop
Exec=hex-a-hop
Terminal=false
StartupNotify=false
Categories=Application;Game;LogicGame;
