[Desktop Entry]
Encoding=UTF-8
Name=Wine Task Manager
Exec=wine taskmgr
Icon=utilities-system-monitor
Terminal=false
Type=Application
Categories=Application;X-Wine;

Name[tr]=Wine Görev Yöneticisi
