[Desktop Entry]
Encoding=UTF-8
Name=Add/Remove Windows Programs
Exec=wine uninstaller
Icon=user-trash
Terminal=false
Type=Application
Categories=Application;X-Wine;

Name[tr]=Windows Programlarını Ekle/Kaldır
