[Desktop Entry]
Encoding=UTF-8
Name=Wine Configuration
Exec=winecfg
Icon=configure
Terminal=false
Type=Application
Categories=Application;X-Wine;

Name[tr]=Wine Ayarları
