[Desktop Entry]
Type=Service
Encoding=UTF-8
X-KDE-ServiceTypes=inode/directory,KonqPopupMenu/Plugin
Actions=clamtkscan
Name=ClamTK, clamav GUI
Name[tr]=ClamTK, clamav Arabirimi

[Desktop Action clamtkscan]
Name=Scan for Viruses..
Name[tr]=Virüs taraması yap..
Icon=edit-find
Exec=clamtk %F
