[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=UrbanTerrorHD
Name[tr]=UrbanTerrorHD
GenericName=Multiprocessor
GenericName[tr]=Çok İşlemci Destekli
Icon=urbanterrorHD
Exec=urbanterrorHD-smp
Terminal=false
StartupNotify=false
Categories=Application;Game;ActionGame;
