[Desktop Entry]
X-KDE-Solid-Predicate=[StorageVolume.ignored == false AND OpticalDisc.availableContent & 'VideoDvd']
Actions=SMplayer;
Type=Service
X-KDE-Priority=TopLevel

[Desktop Action SMplayer]
Name=Play DVD
Name[tr]=DVD'yi Oynat
Exec=smplayer dvdnav:///%d
Icon=smplayer
