[Desktop Entry]
Encoding=UTF-8
Name=iTALC Client
Name[tr]=iTALC İstemci
GenericName=iTALC Client Application
GenericName[tr]=iTALC İstemci Uygulaması
Icon=ica
Exec=ica
Type=Application
Terminal=false
Categories=Application;Network;Qt;KDE;Internet;
