[Desktop Entry]
Encoding=UTF-8
Name=iTALC Master
Name[tr]=iTALC Yönetici
GenericName=iTALC Administrator Panel
GenericName[tr]=iTALC Yönetici Paneli
Icon=italc
Exec=italc
Type=Application
Terminal=false
Categories=Application;Network;Qt;KDE;Internet;
