[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Ddd
Name[tr]=Ddd
GenericName=Debugger
GenericName[tr]=Hata Ayıklayıcı
Icon=ddd
Exec=ddd
Terminal=false
X-KDE-StartupNotify=true
Categories=Development;Debugger;
