[Unit]
Description=Icecream Scheduler

[Service]
Type=forking
PIDFile=/run/icecc-scheduler.pid
ExecStart=/opt/icecream/sbin/icecc-scheduler -d > /dev/null

[Install]
WantedBy=multi-user.target
