[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Tremulous SMP
Name[tr]=Tremulous SMP
GenericName=SMP Supported
GenericName[tr]=Çokişlemci Destekli
Icon=tremulous
Exec=tremulous-smp
Terminal=false
StartupNotify=false
Categories=Application;Game;ActionGame;
