[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Funguloids
GenericName=Funny Funguloids
GenericName[tr]=Eğlenceli Mantarlar
Icon=funguloids
Exec=funguloids
Terminal=false
StartupNotify=false
Categories=Game;ArcadeGame;
