#!/usr/bin/env xdg-open
[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Avidemux (QT)
Name[tr]=Avidemux (QT)
GenericName=Video Editing/Encoding Tool
GenericName[tr]=Video Düzenleme/Kodlama Aracı
Icon=avidemux.png
Exec=avidemux3_qt4
Terminal=false
StartupNotify=false
Categories=Application;AudioVideo;
