[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Abuse
GenericName=Abuse SDL
GenericName[tr]=Abuse SDL
Comment=SDL version of Abuse
Comment[tr]=Abuse'nin SDL sürümü
Icon=abuse
Exec=abuse -fullscreen -scale 2
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame;
