[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Abuse GL
GenericName=Abuse OpenGL
GenericName[tr]=Abuse OpenGL
Comment=OpenGL version of Abuse
Comment[tr]=Abuse'nin OpenGL sürümü
Icon=abuse
Exec=abuse -fullscreen -gl -antialias -scale 2
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame;
