[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=smokinguns
Name[tr]=smokinguns
GenericName=Western FPS Game
GenericName[tr]=Vahşi Batı Temalı FPS Oyunu
Icon=smokinguns
Exec=smokinguns
Terminal=false
StartupNotify=false
Categories=Application;Game;ActionGame;
