[Desktop Entry]
Categories=Development;IDE;
Comment=Scheme Programming Environment
Comment[tr]=Scheme Programlama Ortamı
Encoding=UTF-8
Exec=drscheme
Icon=drscheme.png
Name=DrScheme
Name[tr]=Scheme Programlama Ortamı
StartupNotify=false
Terminal=false
Type=Application

