[Unit]
Description=A network traffic probe similar to the UNIX top command
Requires=network.target
After=syslog.target network.target

[Service]
Environment=LANG=C
ExecStart=/usr/sbin/ntop @/etc/ntop.conf
Type=simple
StandardError=syslog

[Install]
WantedBy=multi-user.target
