[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=Eric4
Comment=Python development environment
Comment[tr]=Python geliştirme ortamı
Comment[pl]=Zintegrowane środowisko programistyczne (IDE) dla języka Python
Icon=eric4
Exec=LC_ALL=C eric4 --nosplash
Terminal=False
Categories=Development;IDE;Qt;
MimeType=application/x-eric-project;
