[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Magicor
Name[tr]=Magicor
GenericName=Level Editor
GenericName[tr]=Bölüm düzenleyici
Icon=magicor
Exec=magicor-editor
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame;
