[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Btanks Map Editor
Name[tr]=Btanks Harita Düzenleyici
GenericName=Btanks Map Editor
GenericName[tr]=Btanks Harita Düzenleyici
Icon=btanks
Exec=btanks-editor
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame;
