[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Btanks
Name[tr]=Btanks
GenericName=Battle Tanks
GenericName[tr]=Tanklarla Savaş
Icon=btanks
Exec=btanks
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame;
