[Desktop Entry]
Encoding=UTF-8
Name=Fluxbox Window Manager
Name[tr]=Fluxbox Pencere Yöneticisi
Comment=fluxbox window manager
Comment[tr]=fluxbox pencere yöneticisi
Exec=/usr/bin/startfluxbox
Type=Application
