
[Desktop Entry]
Name=Arado URL Database
GenericName=URL Database
Comment=Maintain your own copy of a distributed URL database
Exec=arado
Icon=arado-logo-coloured
StartupNotify=false
Terminal=false
Type=Application
Categories=Network;
X-Desktop-File-Install-Version=0.16
