[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Trackballs
Name[tr]=Trackballs
GenericName=3D Marble Puzzle
GenericName[tr]=3B Bilye Yuvarlama
Icon=trackballs
Exec=trackballs
Terminal=false
StartupNotify=false
Categories=Application;Game;LogicGame;
