[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=teeworlds
Name[tr]=teeworlds
GenericName=Cute Little Buggers
GenericName[tr]=Sevimli Minik Böcekler
Icon=teeworlds
Exec=teeworlds
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame;
