[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=C-Dogs
Name[tr]=C-Dogs
GenericName=SDL
GenericName[tr]=SDL
Icon=cdogs-sdl
Exec=cdogs-sdl
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame;
