[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=AssaultCube
Name[tr]=AssaultCube
GenericName=FPS
GenericName[tr]=FPS
Icon=AssaultCube
Exec=assaultcube > /dev/null
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame;
