[Desktop Entry]
Encoding=UTF-8
Name=JabRef
GenericName=BibTex Editor
GenericName[tr]=BibTex Editörü
Exec=jabref
Icon=jabref
Terminal=false
Type=Application
Categories=Office;Database;
MimeType=text/x-bibtex
