[miscellany]
enable-auto-props = yes

[auto-props]
*.png = svn:mime-type=image/png
*.jpg = svn:mime-type=image/jpeg
*.jpe = svn:mime-type=image/jpeg
*.jpeg = svn:mime-type=image/jpeg
*.bmp = svn:mime-type=image/x-ms-bmp
*.odp = svn:mime-type=application/vnd.oasis.opendocument.presentation
*.odt = svn:mime-type=application/vnd.oasis.opendocument.text
*.ods = svn:mime-type=application/vnd.oasis.opendocument.spreadsheet
*.ogg = svn:mime-type=audio/ogg
