[Desktop Entry]
Name=KompoZer
GenericName=Web Authoring System
GenericName[tr]=Web Düzenleyici
Comment=Create Web Pages
Comment[tr]=Web sayfası oluşturur.
TryExec=kompozer
Exec=kompozer %u
Icon=/usr/lib/kompozer/icons/mozicon50.xpm
Categories=Application;Development;WebDevelopment;
MimeType=text/html;application/xhtml+xml;
Type=Application
Terminal=false
StartupNotify=true
Encoding=UTF-8