[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Airstrike
GenericName=Dogfight Game
GenericName[tr]=İtdalaşı Oyunu
Comment=A 2d dogfight game
Comment[tr]=İki boyutlu bir itdalaşı oyunu
Icon=airstrike
Exec=airstrike
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame;
