[Desktop Entry]
Encoding=UTF-8
Type=Application
Name=LyX
Name[pl]=LyX
Name[tr]=LyX
GenericName=LaTeX Document Processor
GenericName[pl]=Nakładka WYSIWYM na LaTeXa
GenericName[tr]=LaTeX Belge İşlemci
Exec=lyx
Icon=/usr/share/pixmaps/lyx.png
MimeType=application/x-lyx;
Terminal=false
InitialPreference=15
Categories=Qt;KDE;Office;
