[Desktop Entry]
Version=0.7
Encoding=UTF-8
Name=Blob And Conquer
Name[tr]=Blob And Conquer
GenericName=Mission and Objective based 3D Action Game
GenericName[tr]=Görev tabanlı 3B Aksiyon Oyunu
Type=Application
Exec=blobAndConquer
Icon=blobAndConquer
Categories=Game;ArcadeGame;

