[Desktop Entry]
Version=1.0
Type=Application
Name=Winpdb
Name[tr]=Winpdb
GenericName=Python debugger
GenericName[tr]=Python hata ayıklayıcısı
Comment=Platform independent Python debugger
Comment[tr]=Platform bağımsız Python hata ayıklayıcısı
TryExec=winpdb
Exec=winpdb %F
Icon=winpdb
Categories=Development;Debugger;
