[Desktop Entry]
Encoding=UTF-8
Name=Glest
Name[tr]=Glest
Type=Application
GenericName=3D Strategy Game
GenericName[tr]=3B Strateji Oyunu
Icon=glest
Exec=padsp glest
Categories=Game;StrategyGame;
