[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Smc
Name[tr]=Smc
GenericName=Secret Maryo Chronicles
GenericName[tr]=Gizli Maryo Günlükleri
Icon=smc
Exec=smc
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame;
