#!/usr/bin/env xdg-open
[Desktop Entry]
Categories=Application;Translation;Office;Dictionary;Education;QT;
Comment=Test programı
Comment[tr]=Test programı
Encoding=UTF-8
Exec=python /usr/share/Kelimeleme/kelimeleme.py
GenericName=Kelime tekrar programı
GenericName[tr]=Kelime tekrar programı
Icon=/usr/share/Kelimeleme/kelimeleme.png
MimeType=
Name=Kelimeleme
Name[tr]=Kelimeleme
Path=python /usr/share/Kelimeleme/kelimeleme.py
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-DCOP-ServiceType=
X-KDE-SubstituteUID=false
X-KDE-Username=
