# This file configures the ability to wake from suspend or hibernate
# at a given time.  It is used in conjunction with the 02rtcwake hook.

# Whether to respect the user-passed-in num_seconds_to_sleep
# If off, then the system configuration (below) will be used even if
# the user passes in a num_seconds_to_sleep.
#USER_RTCWAKE_ALLOWED="no"
USER_RTCWAKE_ALLOWED="yes"

# Should we wake up from suspend on a given time?
# if those are set to "no", the configuration values below have no effect.
#SUSPEND_RTCWAKE_ENABLED="yes"
#HIBERNATE_RTCWAKE_ENABLED="yes"
SUSPEND_RTCWAKE_ENABLED="no"
HIBERNATE_RTCWAKE_ENABLED="no"

# Time to wake up in local, 24-hour time
#RTCWAKE_TIME="22:30"
#RTCWAKE_TIME="9:00"

# Days to wake up (1=monday, 7=sunday), in increasing order,
# with a single space between each day
#RTCWAKE_DAYS="1 2 3 4 5"
#RTCWAKE_DAYS="1 3 5"
#RTCWAKE_DAYS="1 2 3 4 5 6 7"
