[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Monsterz
Name[tr]=Monsterz
GenericName=Monsterz
GenericName[tr]=Monsterz
Icon=/usr/share/monsterz/graphics/icon.png
Exec=monsterz
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame;
