[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Memonix
Name[tr]=Memonix
GenericName=Educative Games for Childreen
GenericName[tr]=Çocuklar için Eğitici Oyunlar
Icon=memonix
Exec=Memonix
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame;
