[Desktop Entry]
Type=Application
Version=1.0
Name=Xonotic
GenericName=FPS Game
GenericName[tr]=Nişancılık Oyunu
Comment=A fast-paced crossplatform first-person shooter
Comment[tr]=Hızlı tempolu bir çok platformlu birinci tekil şahıs nişancılık oyunu
Icon=xonotic
Exec=xonotic-glx
Terminal=false
StartupNotify=false
Categories=Application;Game;ActionGame;
