[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=UrbanTerrorHD
Name[tr]=UrbanTerrorHD
GenericName=Urban TerrorHD
GenericName[tr]=Urban TerrorHD
Icon=urbanterrorHD
Exec=urbanterrorHD
Terminal=false
StartupNotify=false
Categories=Application;Game;ActionGame;
