[Desktop Entry]
Encoding=UTF-8
Name=Scorched 3D
Name[tr]=Scorched 3D
Comment=Tank Battle
Comment[tr]=Tank Savaşı
Exec=scorched3d
Icon=scorched3d
Terminal=false
Type=Application
Categories=Applications;Game;ArcadeGame;
