[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=QtEmu
Name[tr]=QtEmu
GenericName=Virtual Machine
GenericName[tr]=Sanal Makine
Comment=Graphical user interface for QEMU
Comment[tr]=QEMU için grafik arayüz
Icon=qtemu
Exec=qtemu
Terminal=false
StartupNotify=true
Categories=System;Emulator;Qt;

