[Desktop Entry]
Name=Xgnokii
Name[tr]=Xgnokii
GenericName=Mobile Phone Suite
GenericName[tr]=Cep Telefonu Takımı
Comment=Manage your mobile phone
Comment[tr]=Cep telefonunuzu yönetin
Icon=xgnokii
Exec=xgnokii
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Qt;KDE;Utility;X-KDE-Utilities-Peripherals;
