[Desktop Entry]
Type=Application
Version=1.0
Name=Yabause
GenericName=Sega Saturn Emulator
GenericName[tr]=Sega Saturn Emülatörürü
Comment=A Sega Saturn emulator
Comment[tr]=Bir Sega Saturn emülatörü
Icon=/usr/share/pixmaps/yabause.png
Exec=yabause
Terminal=false
StartupNotify=false
Categories=Application;Game;Emulator;
