[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Kiki
Name[tr]=Kiki
GenericName=Kiki the Nanobot
GenericName[tr]=Nanobot Kiki
Icon=kiki
Exec=kiki
Terminal=false
StartupNotify=false
Categories=Application;Game;ArcadeGame;
