[Desktop Entry]
Type=Application
Version=1.0
Encoding=UTF-8
Name=Tremulous
Name[tr]=Tremulous
GenericName=Team Based FPS
GenericName[tr]=FPS Takım Oyunu
Icon=tremulous
Exec=tremulous
Terminal=false
StartupNotify=false
Categories=Application;Game;ActionGame;
