[Desktop Entry]
Name=MuSE
Name[tr]=MuSE
Name[nl]=MuSE
Name[it]=MuSE
Name[es]=MuSE
Comment=Sound mix and broadcasting 
Comment[tr]=Ses miksaj ve yayını
Comment[nl]=Het correcte mengeling en uitzenden
Comment[it]=Miscela e radiodiffusione sane
Comment[es]=Mezcla y el difundir de los sonidos
GenericName=Sound mix and broadcasting
GenericName[tr]=Ses miksaj ve yayını
GenericName[nl]=Het correcte mengeling en uitzenden
GenericName[it]=Miscela e radiodiffusione sane
GenericName[es]=Mezcla y el difundir de los sonidos
Exec=muse
Type=Application
Encoding=UTF-8
Terminal=false
Icon=muse
Categories=Application;AudioVideo;
StartupNotify=true
StartupWMClass=muse
